Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

feat/nitmre-nlp-utils2 (#290)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/core/config.py
  app/main.py
  tests/test_api.py
Due: pylint

lots of intertwined python module versions modified in an attempt to address latest p1 cves
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

chore/p1-failures-202508 (#296)
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

forgot to include requirements.txt updates in latest PR
  requirements.txt
Due: none

chore/p1-failures-202508-reqs (#297)
  requirements.txt
Due: none

upgrade to python 3.12 and many python modules
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

almost forgot requirements.txt again
  requirements.txt
Due: none

chore/python-3.12 (#298)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

tested updates to convert_conversation_threads in nitmre-nlp-utils-1.0.3. added a function to retrieve a single mm post to support semantic search evaluation dataset reconstruction
  app/nitmre_nlp_utils/preprocess.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

add tests from nitmre-nlp-utils-1.0.3
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

roll back preprocess.py
  app/nitmre_nlp_utils/preprocess.py
Due: pylint

create integration environment (similar to local, no mm token required)
  app/core/env_var/integration.env
  app/initial_data.py
  scripts/init-integration.sh
  scripts/init.sh
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
Due: pylint

fix postgres, s3 vars
  app/core/env_var/development.env
  scripts/init-integration.sh
Due: none

more integration env updates
  README.md
  app/core/config.py
  app/initial_data.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

revert development.env
  app/core/env_var/development.env
Due: none

handle deleted mm users; skip document creation
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
Due: pylint

use autoflake to clean up unused imports
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/ai_services/conftest.py
Due: pylint

set default logging level to WARNING; override per env
  app/core/config.py
Due: pylint

more logging in mattermost_utils.get_all_pages
  app/ppg_common/services/mattermost_utils.py
Due: pylint

catch mm timeout exception
  app/ppg_common/services/mattermost_utils.py
Due: pylint

oops, debug logs should be errors
  app/ppg_common/services/mattermost_utils.py
Due: pylint

remove retry from mm get_all_pages
  app/ppg_common/services/mattermost_utils.py
Due: pylint

Updated README
  README.md
Due: none

incorporate changes from feat/corpus-preprocessing
  app/nitmre_nlp_utils/preprocess.py
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

readme cleanup
  README.md
Due: none

bug/deleted-mm-user (#303)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

nitmre-nlp-utils-1.0.3 (#299)
  app/nitmre_nlp_utils/preprocess.py
  app/ppg_common/services/mattermost_utils.py
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

chore/dev-env (#301)
  README.md
  app/core/config.py
  app/core/env_var/integration.env
  app/initial_data.py
  scripts/init-integration.sh
  scripts/init.sh
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
Due: pylint

use autoflake to clean up unused imports
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/initial_data.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/ai_services/conftest.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
