Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

topic summarization v2, additional stop words and trending topic detection, ppg-common and db schema updates
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/bertopic/topic.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Feat/detect-topic-trends (#166)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/bertopic/topic.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Remove pw from test db uri to address p1 trufflehog failure
  tests/settings/test_settings.py
Due: pylint

Test HTTPException with sha256 that doesn't exist
  tests/aimodels/gpt4all/routers/test_completions.py
Due: pylint

Test model type must be Enum when retrieving pretrained LLM
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
Due: pylint

Test sentiment router maps labels to answers correctly
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
Due: pylint

Remove pytest-cov config file to try and address sonarqube failures
  .coveragerc
Due: none

Test invalid id response when uploading bertopic embedding pretrained model
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

Test response when id for pretrained gpt4all model not found
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

Remove unused import
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

Test low hanging2 (#168)
  .coveragerc
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/settings/test_settings.py
Due: pylint

topic summarization v2, inference for topic modeling
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

fix logger typo
  app/mattermost/crud/crud_mattermost.py
Due: pylint

feat/topic-model-inference (#172)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

reduce cognitive complexity in train request
  app/aimodels/bertopic/routers/train.py
Due: pylint

chore/reduce-train-complexity (#174)
  app/aimodels/bertopic/routers/train.py
Due: pylint

Test detect trending topics
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Disable wipe_db for staging
  app/initial_data.py
Due: pylint

Test detect trending topics (#175)
  app/initial_data.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

implement single day trend detection
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

add parameter to tune train/test percent
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

feat/train-test-threshold (#177)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

Test llm initialization
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Remove unused imports
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test detect trending topics with trend_depth=1
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test initialize llm (#179)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test trending topics single day
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test trending single day (#180)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

add endpoint to search db for substring in mm posts
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
Due: pylint

add endpoint to search mattermost for substring and upload to db
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

Patch correct function for mocking
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

feat/mm-search-str (#182)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

expand substring search for multiple terms
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
Due: pylint

ppg common update
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

feat/mm-search-terms (#183)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Test get_summary with empty documents
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test all conditional branches of get_summary
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Test get summary (#184)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

clean up langchain import warnings
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/initial_data.py
Due: pylint

chore/langchain-cleanup (#188)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/initial_data.py
Due: pylint
