Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

Migrate from pipenv to poetry
  .coveragerc
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  docker-compose.yml
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

refine poetry implementation
  README.md
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

poetry readme update and toml bug fix
  README.md
  pyproject.toml
Due: none

update poetryv2 to rebase from most recent master
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

README additions
  README.md
Due: none

add region for minio
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/minio.py
Due: pylint

add sentence model name, num topics as inputs
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/initial_data.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

bertopic improvements, add seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

add weak learning; temporarily disable seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

reenable seed topics with fix for numpy inconsistency
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
Due: pylint

readme
  README.md
Due: none

fix readme
  README.md
Due: none

add some tests for weak learning, coverage now at 81%
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  sample_data/__init__.py
  sample_data/chat_dataset_4.csv
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

Revert "add some tests for weak learning, coverage now at 81%"
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  sample_data/__init__.py
  sample_data/chat_dataset_4.csv
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

initial standalone mm endpoints (not connected to db or topic model
  app/main.py
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some comments
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some tests
  app/mattermost/router.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

readme notes for gpg signing
  README.md
Due: none

fix SQ issues
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  tests/crud/test_base.py
Due: pylint

small change
  README.md
Due: none

small change (#31)
  README.md
Due: none

change 1
  README.md
Due: none

change 2
  README.md
Due: none

Test5 (#32)
  README.md
Due: none

WIP
  app/aimodels/gpt4all/__init__.py
  app/aimodels/gpt4all/ai_services/__init__.py
  app/aimodels/gpt4all/ai_services/basic_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/__init__.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/__init__.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/initial_data.py
Due: pylint

WIP
  app/initial_data.py
Due: pylint

gpt4all works with basic endpoint
  app/aimodels/gpt4all/ai_services/basic_inference.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/aimodels/router.py
  app/core/minio.py
  app/core/model_cache.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

WIP
  .gitignore
  app/core/model_cache.py
  app/initial_data.py
Due: pylint

return object if already there
  app/initial_data.py
Due: pylint

updated gpt4all and tests with new code merge
  app/aimodels/gpt4all/routers/pretrained.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
Due: pylint

gpt4all included with tests and completions endpoint
  app/aimodels/gpt4all/routers/completions.py
  tests/aimodels/gpt4all/__init__.py
  tests/aimodels/gpt4all/ai_services/__init__.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/__init__.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/__init__.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/test_files/mocks/mock_completion_inference.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
