Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

python environment updates
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

test CVE Scan workflow
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update c3po-test.yml
  .github/workflows/c3po-test.yml
Due: none

another poetry update
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

Update and rename main.yml to cve-scan.yml
  .github/workflows/cve-scan.yml
Due: none

Update cve-scan.yml
  .github/workflows/cve-scan.yml
Due: none

feat/expand-notam-parser (#254)
  app/core/minio.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

chore/log-cleanup (#264)
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/db/init_db.py
  app/ppg_common/services/mattermost_utils.py
  ppg-common/setup.py
Due: pylint

feat/nitmre-nlp-utils (#289)
  app/mattermost/crud/crud_mattermost.py
  app/nitmre_nlp_utils/preprocess.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

chore/ut-fix-attempt (#265)
  tests/test_api.py
Due: pylint

chore/p1-ut-fix (#275)
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

chore/so-many-failures (#287)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/so-many-failures2 (#288)
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/more-fastapi-for-p1 (#273)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/core/config.py
  app/crud/base.py
  app/db/base_class.py
  tests/test_files/crud/crud_test_schema.py
Due: pylint

configure staging and production to use IRSA for S3 connection (#286)
  README.md
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/minio.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

chore/some-p1-cves (#266)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/p1-fix-ut-db-again (#278)
  app/core/env_var/test.env
  tests/settings/test_settings.py
Due: pylint

chore/mm-request-fixes (#270)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/test.env
  app/core/logging.py
  app/db/session.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_trained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/document.py
  app/ppg_common/schemas/bertopic/document_embedding_computation.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
  app/ppg_common/schemas/mattermost/mattermost_channels.py
  app/ppg_common/schemas/mattermost/mattermost_documents.py
  app/ppg_common/schemas/mattermost/mattermost_users.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_files/db/db_test_session.py
Due: poetry-to-requirements-txt, pylint

compare/chore/fix-urllib3-cve (#280)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/fix-keras-cve (#281)
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/p1-fix-ut-db (#277)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/sq-quality (#312)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/core/s3.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

chore/twistlock-failures (#313)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/s3-fix-ut (#309)
  app/core/s3.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

nitmre-nlp-utils-1.0.3 (#299)
  app/nitmre_nlp_utils/preprocess.py
  app/ppg_common/services/mattermost_utils.py
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

chore/p1-failures-202508-reqs (#297)
  requirements.txt
Due: none

bug/deleted-mm-user (#303)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

feat/nitmre-nlp-utils2 (#290)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/core/config.py
  app/main.py
  tests/test_api.py
Due: pylint

chore/dev-env (#301)
  README.md
  app/core/config.py
  app/core/env_var/integration.env
  app/initial_data.py
  scripts/init-integration.sh
  scripts/init.sh
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
Due: pylint

chore/sonarqube-fixes (#310)
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/s3.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/chat_search/test_retrieval.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

chore/mdo-fix-plus-sq (#311)
  Dockerfile
  app/nitmre_nlp_utils/preprocess.py
Due: pylint

chore/p1-failures-202508 (#296)
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

chore/python-downgrade-3.10 (#308)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/python-3.12 (#298)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/import-cleanup (#304)
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/initial_data.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/ai_services/conftest.py
Due: pylint
