Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

Test low hanging2 (#168)
  .coveragerc
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/settings/test_settings.py
Due: pylint

Remove wipe_db from staging environment (#149)
  app/initial_data.py
Due: pylint

chore/test-upstream-branch (#158)
  README.md
Due: none

chore/jinja-fonttools-upgrade (#139)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

wipe staging db for latest schema changes (#147)
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/summarization.py
  app/initial_data.py
  tests/aimodels/bertopic/routers/test_summarization.py
Due: pylint

Feat/detect-topic-trends (#166)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/bertopic/topic.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Fix unreachable fix_text logic and add associated tests. (#154)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Chore/remove-black (#141)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/downgrade-sentence-transformers (#145)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Test crudmattermostdocument (#151)
  tests/mattermost/test_mattermost_crud.py
Due: pylint

chore/ngram-bugfix (#161)
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

Test low hanging (#164)
  .coveragerc
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/crud/test_bertopic_visualization.py
  tests/aimodels/bertopic/crud/test_topic.py
  tests/crud/test_base.py
  tests/settings/test_settings.py
  tests/test_api.py
Due: pylint

Revert readme change (#157)
  README.md
Due: none

chore/fix-gpg-leys (#155)
  README.md
Due: none

chore/mm-min-post-filter (#142)
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

Test mattermost router (#159)
  tests/mattermost/test_mattermost_router.py
Due: pylint

Minor edit to readme only (#156)
  README.md
Due: none

feat/add-topic-mm-metadata (#146)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/document.py
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

python upgrade to 3.11.9 due to json decode errors on p1 (#162)
  Dockerfile
  README.md
Due: none

chore/langchain-cleanup (#188)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/initial_data.py
Due: pylint

Test get summary (#184)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

feat/mm-search-str (#182)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

chore/cascade-issue (#220)
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/db/init_db.py
  app/db/session.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/test_api.py
Due: poetry-to-requirements-txt, pylint

feat/remove-roger (#207)
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

feat/mm-parse-props (#211)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

feat/topic-model-inference (#172)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

P1 mistral upload (#192)
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  app/initial_data.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

feat/db-download (#218)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/db/session.py
  app/main.py
  app/mattermost/router.py
Due: pylint

chore/more-langchain-cleanup (#189)
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Test trending single day (#180)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

feat/mm-search-terms (#183)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Test detect trending topics (#175)
  app/initial_data.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

feat/wl-feedback (#222)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_embedding_pretrained.py
  ppg-common/setup.py
  tests/aimodels/bertopic/routers/test_train.py
Due: poetry-to-requirements-txt, pylint

fix test_download_db_data_valid failure (#221)
  tests/test_api.py
Due: pylint

Test initialize llm (#179)
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

feat/train-test-threshold (#177)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: poetry-to-requirements-txt, pylint

Test originated from (#199)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/test_api.py
Due: pylint

Update readme to include link for trufflehog false positives (#197)
  README.md
Due: none

feat/wl-feedback2 (#226)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/core/config.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

chore/reduce-train-complexity (#174)
  app/aimodels/bertopic/routers/train.py
Due: pylint
