Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

chore/python-langchain-upgrade (#314)
  Dockerfile
  README.md
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
Due: poetry-to-requirements-txt, pylint

chore/p1-failures-202604 (#321)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/remove-nltk (#317)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade packages (#326)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Chore/p1 failures 20260521 (#327)
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

add pytest workflow
  .github/workflows/c3po-test.yml
Due: none

Update c3po-test.yml
  .github/workflows/c3po-test.yml
Due: none

Create c3po-lint.yml
  .github/workflows/c3po-lint.yml
Due: none

Update c3po-lint.yml
  .github/workflows/c3po-lint.yml
Due: none

Create trufflehog.yml
  .github/workflows/trufflehog.yml
Due: none

Create type-checking.yml
  .github/workflows/type-checking.yml
Due: none

combine into one ci.yml
  .github/workflows/c3po-lint.yml
  .github/workflows/c3po-test.yml
  .github/workflows/ci.yml
  .github/workflows/cve-scan.yml
  .github/workflows/trufflehog.yml
  .github/workflows/type-checking.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

chore/p1-failures-20260526 (#329)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

latest actions and uv for faster env creation
  .github/workflows/ci.yml
Due: none

pin python version
  .github/workflows/ci.yml
Due: none

use venv instead of system python
  .github/workflows/ci.yml
Due: none

run mypy with uv run
  .github/workflows/ci.yml
Due: none

chore/cve-scan-workflow (#330)
  .github/workflows/ci.yml
Due: none

poetry update, now includes latest langchain
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
