Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipfile-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: pipfile-to-requirements-txt
      name: Pipfile to Requirements.txt
      description: Output requirements.txt based on Pipfile.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^Pipfile(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the scorexs
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
        ]

some comments
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some tests
  app/mattermost/router.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

transformers CVE patch
  README.md
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

update reqs.txt with patch
  requirements.txt
Due: none

update hook
  hooks/output-requirements-txt.sh
Due: none

update reqs.txt
  requirements.txt
Due: none

try different transformers version since commit patch not working in p1
  requirements.txt
Due: none

retrying transformers patch
  requirements.txt
Due: none

temp rollback until patch included in new release
  requirements.txt
Due: none

update requests
  Pipfile.lock
  requirements.txt
Due: pipfile-to-requirements-txt

update tensorflow for CVE
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

fix non-update issues and tf / numpy versioning issues
  app/crud/base.py
  hooks/output-requirements-txt.sh
  requirements.txt
Due: pylint

README update
  README.md
Due: none

Migrate from pipenv to poetry
  .coveragerc
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  docker-compose.yml
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: pipfile-to-requirements-txt

README additions
  README.md
Due: none

refine poetry implementation
  README.md
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

poetry readme update and toml bug fix
  README.md
  pyproject.toml
Due: none

fix tests for update so that they pull items separately after update vs. accepting the response from update itself
  app/crud/base.py
Due: pylint

update tests
  tests/crud/test_base.py
Due: pylint
