Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

clean up langchain import warnings
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
Due: pylint

some logging cleanup
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

chore/more-langchain-cleanup (#189)
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

Check for mistral db obj before uploading in staging and prod
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  app/initial_data.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

Fix return types
  app/initial_data.py
Due: pylint

P1 mistral upload (#192)
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  app/initial_data.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

Update readme to include link for trufflehog false positives
  README.md
Due: none

Update readme to include link for trufflehog false positives (#197)
  README.md
Due: none

Prevent test db objects from being created with ORIGINATED_FROM_APP
  tests/mattermost/test_mattermost_router.py
Due: pylint

Combine originated from tests to prevent global variable changes from affecting other tests
  tests/test_api.py
Due: pylint

initial_data currently uploads 24 initial chat documents. Prior to this change, this test will always fail when run immediately after initialization.
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

Reenable wipe_db in staging to confirm unit_test fixes were successful.
  app/initial_data.py
Due: pylint

Fix additional bug uploading nitmre-bot to database as test object
  app/mattermost/crud/crud_mattermost.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Make sure tests using nitmre-bot data are labeled as originating from app
  tests/mattermost/test_mattermost_router.py
Due: pylint

correct debug message in crud_mattermost
  app/mattermost/crud/crud_mattermost.py
Due: pylint

Test originated from (#199)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/test_api.py
Due: pylint

remove roger labeling function from weak learner
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

feat/remove-roger (#207)
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

mm doc upload: system post filtering, props parsing, and add a couple channels to init. note db schema and ppg-common updates in this commit
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

fix init_large_objects (skip for test enviroment)
  app/initial_data.py
Due: pylint

add mm content filter to router, query
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
Due: pylint

reverse chain.invoke commit that fails in test_topic_summarization mock
  app/aimodels/bertopic/ai_services/topic_summarization.py
Due: pylint

feat/mm-parse-props (#211)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

endpoint to extract db contents; bertopic sync with 577th and add channel_name to topic details
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/db/session.py
  app/main.py
  app/mattermost/router.py
Due: pylint

feat/db-download (#218)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/db/session.py
  app/main.py
  app/mattermost/router.py
Due: pylint

attempt to fix is_trending/sql cascade issue on p1; modify trained model/topic relationship schema
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/db/init_db.py
  app/db/session.py
  app/initial_data.py
  app/main.py
  app/mattermost/models/mattermost_documents.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

tests for download endpoint
  tests/test_api.py
Due: pylint

tests for parse_props
  app/mattermost/crud/crud_mattermost.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

chore/cascade-issue (#220)
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/db/init_db.py
  app/db/session.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/test_api.py
Due: poetry-to-requirements-txt, pylint

fix test_download_db_data_valid failure
  tests/test_api.py
Due: pylint

fix test_download_db_data_valid failure (#221)
  tests/test_api.py
Due: pylint

implement weak learning label dictionary
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_embedding_pretrained.py
  ppg-common/setup.py
  tests/aimodels/bertopic/routers/test_train.py
Due: poetry-to-requirements-txt, pylint

feat/wl-feedback (#222)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_embedding_pretrained.py
  ppg-common/setup.py
  tests/aimodels/bertopic/routers/test_train.py
Due: poetry-to-requirements-txt, pylint

add endpoints to modify label dictionary, and train weak learner
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/core/config.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

feat/wl-feedback2 (#226)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/core/config.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

add bot to info_type
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

feat/add-bot-info-type (#231)
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

preprocess documents prior to stop word application: lowercase, emoji
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

Introduce variable for common error message.
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
Due: pylint

feat/topic-cleanup (#233)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
