Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

update langchain for CVE-2023-46229; confirmed app startup and pytests passing locally
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

update werkzeug for CVE-2023-46136
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

update langchain and werkzeug (#82)
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

gpt4all router test fix for p1
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

update glibc for CVE-2023-4813
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

gpt4all router test fix for p1 (#83)
  poetry.lock
  pyproject.toml
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: poetry-to-requirements-txt, pylint

sync requirements.txt for urllib3 update in pr #81
  requirements.txt
Due: none

re-remove wipe_db for staging since schema changes merged on p1
  app/initial_data.py
Due: pylint

resolve duplicate mm channel error for group type channels
  app/mattermost/crud/crud_mattermost.py
Due: pylint

fix model-level topic timeline indexing
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

handle empty channels during doc upload
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

Add direct message for duplicate mm channel fix
  app/mattermost/crud/crud_mattermost.py
Due: pylint

resolve duplicate mm channel error, sync requirements.txt (#84)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  requirements.txt
Due: pylint

update urllib3 for CVE-2023-45803
  app/aimodels/bertopic/ai_services/basic_inference.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

handle issue with mattermost pagination
  app/mattermost/services/mattermost_utils.py
Due: pylint

urllib3 update, modify ngrams, handle mm pagination (#85)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/mattermost/services/mattermost_utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

update docker file for new Iron Bank image
  Dockerfile
Due: none

reduce cognitive complexity in mattermost_utils
  app/mattermost/services/mattermost_utils.py
Due: pylint

Chore/docker sonarq fixes (#86)
  Dockerfile
  app/mattermost/services/mattermost_utils.py
Due: pylint

update pillow for CVE-2023-5129
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update pillow for CVE-2023-5129 (#87)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

langchain update for CVE-2023-39659, CVE-2023-32786
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

langchain update for CVE-2023-39659, CVE-2023-32786 (#88)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

aiohttp update for CVE-2023-47627
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

aiohttp update for CVE-2023-47627 (#89)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

add user filter to mattermost post upload, enable nitmre-bot filtering as default
  README.md
  app/initial_data.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

Feat/nitmre-bot-post-filter (#90)
  README.md
  app/initial_data.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

upgrade python to version 3.11.7
  Dockerfile
  README.md
Due: none

chore/python-upgrade (#96)
  Dockerfile
  README.md
Due: none

initial backend endpoint reorg
  app/experimental_features_router.py
  app/main.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
Due: pylint

create ppg-common library
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/bertopic_visualization.py
  app/aimodels/bertopic/schemas/document.py
  app/aimodels/bertopic/schemas/document_embedding_computation.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/config.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  poetry.lock
  ppg-common/ppg/__init__.py
  ppg-common/ppg/config.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_api.py
Due: poetry-to-requirements-txt, pylint

create ppg-common library, include mattermost_utils
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

Modify to import mattermost_utils from ppg package.
  app/initial_data.py
Due: pylint

Chore/ppg-common-lib (#97)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

adjust requirements.txt for ppg-common install on p1
  requirements.txt
Due: none

add mm metadata: user (nickname, first/last name, position, email), channel (display_name, header, purpurpose, type), documents (type, hashtags, metadata)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  ppg-common/ppg/mattermost_utils.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Feat/add-mm-metadata (#99)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  ppg-common/ppg/mattermost_utils.py
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
Due: pylint

ppg-common version update in poetry
  poetry.lock
Due: poetry-to-requirements-txt

move bertopic schemas into ppg-common
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/crud/crud_document_embedding_computation.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/__init__.py
  app/mattermost/router.py
  ppg-common/ppg/schemas/bertopic/bertopic_embedding_pretrained.py
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/bertopic/bertopic_visualization.py
  ppg-common/ppg/schemas/bertopic/document.py
  ppg-common/ppg/schemas/bertopic/document_embedding_computation.py
  ppg-common/ppg/schemas/bertopic/topic.py
  ppg-common/setup.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
Due: pylint
