Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

force starlette, torch, torchvision updates
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

trying to fix failing pytest
  .github/workflows/ci.yml
Due: none

chore/p1-failures-20260602 (#333)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade numpy, attempt to fix torch-induced pytest failure
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/conftest.py
Due: poetry-to-requirements-txt, pylint

torch downgrade to 2.9.0
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

torch downgrade passed in pytest, but need to address cve on v2.9.1
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

need to address cve torch 2.10.0
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Update ci.yml
  .github/workflows/ci.yml
Due: none

env-updates-20260603 (#336)
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/conftest.py
Due: poetry-to-requirements-txt, pylint

Create cve-allowlist.txt
  .github/workflows/cve-allowlist.txt
Due: none

chore/allow-pip-audit-fail (#337)
  .github/workflows/ci.yml
  .github/workflows/cve-allowlist.txt
Due: none

updates to torch and others for local pipeline failure
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

pytests failing in ci workflow after torch update
  .github/workflows/ci.yml
Due: none

try again to fix pytest environment
  .github/workflows/ci.yml
Due: none

load native libs in a clash-free order
  tests/conftest.py
Due: pylint

try again to fix pytest environment
  .github/workflows/ci.yml
  tests/conftest.py
Due: pylint

diagnose pytest crash
  .github/workflows/ci.yml
Due: none

streaming/unbuffered diagnostic integrated into the pytest job
  .github/workflows/ci.yml
Due: none

per-file diagnostic integrated into the pytest job
  .github/workflows/ci.yml
Due: none

refined conftest-import-chain diagnostic
  .github/workflows/ci.yml
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

use CPU torch/torchvision on Linux, PyPI on macOS to avoid triton import segfault
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

revert pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

remove triton in CI to fix pytest segfault
  .github/workflows/ci.yml
Due: none

force pytest fix by uninstalling triton in workflow
  .github/workflows/ci.yml
Due: none

function docstrings, remove unused modules, a bit more test coverage
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/routers/train.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/chat_search/test_initialized_huggingface_embeddings.py
  tests/core/test_errors.py
  tests/core/test_logging.py
  tests/core/test_s3.py
  tests/db/test_base_class.py
  tests/db/test_session.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_api.py
Due: poetry-to-requirements-txt, pylint

clean up warnings in app startup and pytest
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/core/logging.py
  app/crud/base.py
  app/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/core/test_errors.py
  tests/core/test_logging.py
  tests/db/test_base_class.py
Due: poetry-to-requirements-txt, pylint

chore/upgrade-torch (#338)
  .github/workflows/ci.yml
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/core/logging.py
  app/crud/base.py
  app/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/chat_search/test_initialized_huggingface_embeddings.py
  tests/conftest.py
  tests/core/test_errors.py
  tests/core/test_logging.py
  tests/core/test_s3.py
  tests/db/test_base_class.py
  tests/db/test_session.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_api.py
Due: poetry-to-requirements-txt, pylint

preprocess updates from nitmre-nlp-utils
  app/nitmre_nlp_utils/preprocess.py
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

comments updated in nitmre-nlp-utils, poetry update
  app/nitmre_nlp_utils/preprocess.py
  poetry.lock
  requirements.txt
  tests/nitmre_nlp_utils/test_preprocess.py
Due: poetry-to-requirements-txt, pylint

feat/message-as-str (#340)
  app/nitmre_nlp_utils/preprocess.py
  poetry.lock
  requirements.txt
  tests/nitmre_nlp_utils/test_preprocess.py
Due: poetry-to-requirements-txt, pylint

downgrade to torch 2.11.0; p1 wants to try whitelisting due to torch 2.12/pycov segfault
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update setuptools, but will still fail cve scan
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/downgrade-torch-for-whitelisting (#341)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update to latest compatible versions prior to p1 whitelisting
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

chore/poetry-update-20260721 (#342)
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt
