Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

remove commented code
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
Due: pylint

updated completions endpoint to match OpenAI spec
  app/aimodels/gpt4all/ai_services/completion_inference.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
Due: pylint

initial completions endpoint with OpenAI spec implemented
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/routers/completions.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: pylint

bertopic_crud corrections in initial_data
  app/initial_data.py
Due: pylint

Feat/gpt4all2 (#33)
  .gitignore
  app/aimodels/gpt4all/__init__.py
  app/aimodels/gpt4all/ai_services/__init__.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/__init__.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/__init__.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/aimodels/router.py
  app/core/minio.py
  app/core/model_cache.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/__init__.py
  tests/aimodels/gpt4all/ai_services/__init__.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/__init__.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/__init__.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: poetry-to-requirements-txt, pylint

adjust mocking to use standard design pattern since test failed on p1
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: pylint

add in support for multiple requests simultaneously
  app/aimodels/gpt4all/ai_services/completion_inference.py
Due: pylint

WIP
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
Due: pylint

update imports
  app/aimodels/gpt4all/ai_services/completion_inference.py
Due: pylint

add parallel workers
  Dockerfile
Due: none

README note on aiohttp
  README.md
Due: none

another mocking tutorial in readme
  README.md
Due: none

Testing, multiple requests, parallel workers (#34)
  Dockerfile
  README.md
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: pylint

fix tests v2
  app/aimodels/gpt4all/routers/completions.py
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
Due: poetry-to-requirements-txt, pylint

move SHA to local vs secrets
  app/core/env_var/local.env
Due: none

fix tests v2 (#35)
  app/aimodels/gpt4all/routers/completions.py
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
Due: poetry-to-requirements-txt, pylint

https for model download
  app/initial_data.py
Due: pylint

base model
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/minio.py
  app/initial_data.py
Due: pylint

pipeline fixes and update transformers
  app/initial_data.py
  pyproject.toml
Due: pylint

pipeline fixes
  app/db/init_db.py
  app/initial_data.py
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt, pylint

minio initialized
  app/initial_data.py
Due: pylint

update python to 3.11 and all associated changes
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

endpoints to get latest pretrained model and set originated_from
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/core/config.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
  tests/test_api.py
Due: pylint

originated_from added to bertopic and gpt4all db tables, set to test in pytet client fixture
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/document.py
  app/aimodels/bertopic/schemas/document_embedding_computation.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/config.py
Due: pylint

test to confirm originated_from set in db
  tests/aimodels/bertopic/routers/test_documents.py
Due: pylint

add comment to conftest
  tests/conftest.py
Due: pylint

feat/get-endpoints: endpoints to get latest pretrained model and set originated_from (#36)
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/document.py
  app/aimodels/bertopic/schemas/document_embedding_computation.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/config.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/conftest.py
  tests/test_api.py
Due: pylint

Work with dev environment repo
  Dockerfile.dev
  app/core/config.py
  app/core/env_var/development.env
  scripts/init-development.sh
  scripts/init.sh
Due: pylint

Add development entry into initial_data and test in test_settings
  app/initial_data.py
  tests/settings/test_settings.py
Due: pylint

Update dev env with new changes
  Dockerfile.dev
  app/core/env_var/development.env
  app/initial_data.py
Due: pylint

better error handling for min docs
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

example for openai completions
  examples/open-ai-style-completions.py
Due: pylint

openai dev dependency
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

recommend numpy version 1.24.4 for weak learning; added tests for train (failing unfortunately, minio issue)
  tests/aimodels/bertopic/routers/test_train.py
  tests/conftest.py
Due: pylint

better error handling for min docs (#37)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/conftest.py
Due: pylint

example for openai completions (#38)
  examples/open-ai-style-completions.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

train endpoint fix
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  tests/aimodels/bertopic/integration/conftest.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/aimodels/lstm_stress_classifier/ai_service/__init__.py
  tests/aimodels/lstm_stress_classifier/ai_service/inference/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/conftest.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/__init__.py
  tests/sentiments/__init__.py
  tests/sentiments/insights/__init__.py
  tests/sentiments/insights/routers/__init__.py
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/services/__init__.py
Due: pylint

pin numpy
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

roll back hdbscan to min clusters=10, fix test_train
  app/aimodels/bertopic/ai_services/basic_inference.py
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
