Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

more mattermost test coverage
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

initial summarization integration, document remaining improvements as TODO
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/core/config.py
  app/main.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/test_api.py
Due: pylint

add topic timeline visualization
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/schemas/topic.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

increase number of representative documents
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
Due: pylint

remove topic_timeline_visualization from topic summary endpoint
  app/aimodels/bertopic/routers/summarization.py
Due: pylint

remove topic_timeline_visualization from from topic summary router test
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

add mattermost temporal filtering
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

skip summarization when tokens exceeded
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
Due: pylint

fix topic timeline visualization
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

convert message utterances to conversation threads
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

Feat/summarization mods (#50)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/core/config.py
  app/core/env_var/local.env
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/test_api.py
Due: pylint

test change
  README.md
  requirements.txt
Due: none

test change
  poetry.lock
Due: poetry-to-requirements-txt

fix reqs.txt for hdbscan issue to match poetry.lock
  requirements.txt
Due: none

Chore/update p1 (#54)
  README.md
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

change all-mini retrieval to get_by_model_name
  app/chat_search/ai_services/service.py
Due: pylint

change all-mini retrieval to get_by_model_name (#55)
  app/chat_search/ai_services/service.py
Due: pylint

fix certifi CVE
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

fix certifi CVE (#56)
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

update aiohttp for CVE
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

update aiohttp for CVE (#57)
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

marco added to minio
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
Due: pylint

delete TODO
  app/chat_search/ai_services/service.py
Due: pylint

marco added to minio (#58)
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
Due: pylint

add ui LLM summary for retrieval
  app/chat_search/routers/template.html
Due: none

mattermost query retrieval works for last 45 days
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/template.html
Due: pylint

trying to get hdbscan to work in pipeline
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Feat/mm retrieval (#60)
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/template.html
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

Feat/conversation level topics (#51)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

Revert "Feat/conversation level topics (#51)"
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

Revert "Feat/conversation level topics" (#61)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

fix lc CVE
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

fix lc CVE (#62)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Update topic_summarization.py with improved prompt
  app/aimodels/bertopic/ai_services/topic_summarization.py
Due: pylint

Feat/conversation level topics (#63)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

reduce cyclomatic complexity in intitial_data; some test cleanup
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/topics/__init__.py
  app/topics/insights/__init__.py
  app/topics/insights/prefix_router.py
  app/topics/insights/routers/__init__.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/__init__.py
  app/topics/insights/services/trending_service.py
  app/topics/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
  tests/topics/insights/services/__init__.py
  tests/topics/insights/services/test_trending_service.py
Due: pylint

chore/pipeline-fixes (#64)
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/topics/__init__.py
  app/topics/insights/__init__.py
  app/topics/insights/prefix_router.py
  app/topics/insights/routers/__init__.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/__init__.py
  app/topics/insights/services/trending_service.py
  app/topics/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
  tests/topics/insights/services/__init__.py
  tests/topics/insights/services/test_trending_service.py
Due: pylint

add a train endpoint valid request unit test
  app/crud/base.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

add a train endpoint valid request unit test (#65)
  app/crud/base.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

Fixes sonarqube code smell for commented out lines and xss risk
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/chat_search/routers/retrieval.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
