Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

compare/chore/python-3.10.15 (#250)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

feat/emoji-fix (#237)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

chore/p1-ut-fix (#275)
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

feat/thread-chats-only (#241)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: poetry-to-requirements-txt, pylint

compare/chore/fix-urllib3-cve (#280)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/some-p1-cves (#266)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

feat/add-bot-info-type (#231)
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

feat/expand-notam-parser (#254)
  app/core/minio.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

chore/p1-fix-ut-db-again (#278)
  app/core/env_var/test.env
  tests/settings/test_settings.py
Due: pylint

Move list minio function to initial data to address P1 unittest failure. (#235)
  app/core/minio.py
  app/initial_data.py
Due: pylint

chore/log-cleanup (#264)
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/db/init_db.py
  app/ppg_common/services/mattermost_utils.py
  ppg-common/setup.py
Due: pylint

chore/list-minio (#234)
  app/core/minio.py
Due: pylint

feat/topic-cleanup (#233)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

chore/p1-fix-ut-db (#277)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/mm-request-fixes (#270)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/test.env
  app/core/logging.py
  app/db/session.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_trained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/document.py
  app/ppg_common/schemas/bertopic/document_embedding_computation.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
  app/ppg_common/schemas/mattermost/mattermost_channels.py
  app/ppg_common/schemas/mattermost/mattermost_documents.py
  app/ppg_common/schemas/mattermost/mattermost_users.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_files/db/db_test_session.py
Due: poetry-to-requirements-txt, pylint

chore/more-fastapi-for-p1 (#273)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/core/config.py
  app/crud/base.py
  app/db/base_class.py
  tests/test_files/crud/crud_test_schema.py
Due: pylint

chore/fix-keras-cve (#281)
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

feat/data-test-optional (#248)
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

chore/ut-fix-attempt (#265)
  tests/test_api.py
Due: pylint

bug/deleted-mm-user (#303)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

feat/nitmre-nlp-utils (#289)
  app/mattermost/crud/crud_mattermost.py
  app/nitmre_nlp_utils/preprocess.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

chore/so-many-failures (#287)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/dev-env (#301)
  README.md
  app/core/config.py
  app/core/env_var/integration.env
  app/initial_data.py
  scripts/init-integration.sh
  scripts/init.sh
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
Due: pylint

nitmre-nlp-utils-1.0.3 (#299)
  app/nitmre_nlp_utils/preprocess.py
  app/ppg_common/services/mattermost_utils.py
  tests/nitmre_nlp_utils/test_preprocess.py
Due: pylint

chore/so-many-failures2 (#288)
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/p1-failures-202508-reqs (#297)
  requirements.txt
Due: none

chore/python-downgrade-3.10 (#308)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/import-cleanup (#304)
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/initial_data.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/ai_services/conftest.py
Due: pylint

feat/nitmre-nlp-utils2 (#290)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/core/config.py
  app/main.py
  tests/test_api.py
Due: pylint

chore/p1-failures-202508 (#296)
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

configure staging and production to use IRSA for S3 connection (#286)
  README.md
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/minio.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

chore/python-3.12 (#298)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

improve get_s3 error message, remove 1 test from p1 test set
  app/core/s3.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

chore/s3-fix-ut (#309)
  app/core/s3.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

address 20260227 sonarqube failures (1 blocker, 3 high)
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/chat_search/ai_services/service.py
  app/core/s3.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

address another sq failure from 20260227
  app/core/s3.py
Due: pylint

another sq failure from 20260303
  app/core/s3.py
Due: pylint

some sq mediums, slightly increase code coverage
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
