Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

move gpt4all schemas into ppg-common
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/__init__.py
  ppg-common/ppg/schemas/gpt4all/gpt4all_pretrained.py
  ppg-common/setup.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

update initial_data for ppg-common refactor
  app/initial_data.py
Due: pylint

roll back wipe_db for staging
  app/initial_data.py
Due: pylint

fix mm channels marked as originated from test
  tests/mattermost/test_mattermost_router.py
Due: pylint

make a note for ppg-common in readme
  README.md
Due: none

update gpt4all schemas in initial_data
  app/initial_data.py
Due: pylint

get nitmre-bot teams in initial_data
  app/initial_data.py
Due: pylint

attempt to fix ppg-common v0.2.0 unit test failure on p1
  ppg-common/ppg/core/__init__.py
  ppg-common/ppg/schemas/__init__.py
  ppg-common/ppg/services/__init__.py
  ppg-common/setup.py
Due: pylint

Chore/ppg-common-lib-0.3.0 (#127)
  ppg-common/ppg/core/__init__.py
  ppg-common/ppg/schemas/__init__.py
  ppg-common/ppg/services/__init__.py
  ppg-common/setup.py
Due: pylint

Changed ppg import in test
  tests/conftest.py
Due: pylint

chore/test-fix-for-ppg-common (#129)
  tests/conftest.py
Due: pylint

attempt to fix ppg-common v0.3.0 unit test failure on p1, rollback conftest
  poetry.lock
  ppg-common/ppg/schemas/bertopic/__init__.py
  ppg-common/ppg/schemas/gpt4all/__init__.py
  ppg-common/ppg/schemas/mattermost/__init__.py
  ppg-common/setup.py
  tests/conftest.py
Due: poetry-to-requirements-txt, pylint

Chore/ppg-common-lib-0.4.0 (#130)
  poetry.lock
  ppg-common/ppg/schemas/bertopic/__init__.py
  ppg-common/ppg/schemas/gpt4all/__init__.py
  ppg-common/ppg/schemas/mattermost/__init__.py
  ppg-common/setup.py
  tests/conftest.py
Due: poetry-to-requirements-txt, pylint

create get_document_dataframe_by_documents function - not currently working
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

upgrade python to version 3.11.8
  Dockerfile
  README.md
Due: none

Chore/python-upgrade-3-11-8 (#137)
  Dockerfile
  README.md
Due: none

upgrade transformers for CVE-2023-6730
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Chore/transformers-upgrade-4-38-1 (#138)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

jinja2 update for CVE-22195; fonttools update for CVE-45139
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

fastapi update for CVE-24762
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/jinja-fonttools-upgrade (#139)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

an attempt at cleaning up the environment, do not recommend pushing to p1 without extensive testing on multiple operating systems
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Remove unused package black
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Chore/remove-black (#141)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

ppg-common 0.5.0 - more functions to retrieve channels list, adjust min post filter
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

chore/mm-min-post-filter (#142)
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  ppg-common/ppg/services/mattermost_utils.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

specify sentence-transformers v2.2.2 for poetry install
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/downgrade-sentence-transformers (#145)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

propogate mm metadata to conversation threads
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/document.py
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

pass document metadata into basic inference, need to fix timestamps
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

add mm user, nickname, link to inference output
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/mattermost/crud/crud_mattermost.py
Due: pylint

document dataframe cleanup
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

feat/add-topic-mm-metadata (#146)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/document.py
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

wipe staging db for latest schema changes
  app/initial_data.py
Due: pylint

replace model summary endpoint string with schema
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/summarization.py
  tests/aimodels/bertopic/routers/test_summarization.py
Due: pylint

wipe staging db for latest schema changes (#147)
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/summarization.py
  app/initial_data.py
  tests/aimodels/bertopic/routers/test_summarization.py
Due: pylint

Remove wipe_db from staging environment
  app/initial_data.py
Due: pylint

Remove wipe_db from staging environment (#149)
  app/initial_data.py
Due: pylint

Test no message_id returns None
  tests/mattermost/test_mattermost_crud.py
Due: pylint
