Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

update poetryv2 to rebase from most recent master
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

remove intentional bad import test
  app/initial_data.py
Due: pylint

log minio env vars
  app/initial_data.py
Due: pylint

fix SQ issues
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  tests/crud/test_base.py
Due: pylint

validator for minio_endpoint_url
  app/core/config.py
  tests/settings/test_settings.py
Due: pylint

small change (#31)
  README.md
Due: none

revert temp workarounds
  app/core/config.py
  app/initial_data.py
  tests/settings/test_settings.py
Due: pylint

update for minio usage inside the platform (not actually insecure, just used port 80 with mTLS instead of 443
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: none

add exit status to init
  scripts/init.sh
Due: none

remove sys.err test calls
  app/initial_data.py
Due: pylint

separated entrypoint script and reformatted to use entrypoint correctly
  Dockerfile
  scripts/entrypoint.sh
  scripts/init.sh
Due: none

Work with dev environment repo
  Dockerfile.dev
  app/core/config.py
  app/core/env_var/development.env
  scripts/init-development.sh
  scripts/init.sh
Due: pylint

better error handling for min docs (#37)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/conftest.py
Due: pylint

train endpoint fix (#39)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/conftest.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/aimodels/lstm_stress_classifier/ai_service/__init__.py
  tests/aimodels/lstm_stress_classifier/ai_service/inference/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/conftest.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/__init__.py
  tests/sentiments/__init__.py
  tests/sentiments/insights/__init__.py
  tests/sentiments/insights/routers/__init__.py
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/services/__init__.py
Due: poetry-to-requirements-txt, pylint

minio initialized
  app/initial_data.py
Due: pylint

Feat/topic summarization (#42)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/router.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

Testing, multiple requests, parallel workers (#34)
  Dockerfile
  README.md
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: pylint

https for model download
  app/initial_data.py
Due: pylint

Feat/retrieval (#46)
  .gitignore
  app/aimodels/gpt4all/routers/completions.py
  app/chat_search/__init__.py
  app/chat_search/ai_services/__init__.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/__init__.py
  app/chat_search/routers/retrieval.py
  app/chat_search/routers/template.html
  app/main.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

example for openai completions (#38)
  examples/open-ai-style-completions.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

Add development entry into initial_data and test in test_settings
  app/initial_data.py
  tests/settings/test_settings.py
Due: pylint

add root_id to mattermost_document schema (#41)
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_documents.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

feat/get-endpoints: endpoints to get latest pretrained model and set originated_from (#36)
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/document_embedding_computation.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/document.py
  app/aimodels/bertopic/schemas/document_embedding_computation.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/config.py
  app/main.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/conftest.py
  tests/test_api.py
Due: pylint

base model
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/core/minio.py
  app/initial_data.py
Due: pylint

Feat/summarization mods (#50)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/core/config.py
  app/core/env_var/local.env
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/test_api.py
Due: pylint

pipeline fixes
  app/db/init_db.py
  app/initial_data.py
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt, pylint

update python to 3.11 and all associated changes
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Update dev env with new changes
  Dockerfile.dev
  app/core/env_var/development.env
  app/initial_data.py
Due: pylint

fix tests v2 (#35)
  app/aimodels/gpt4all/routers/completions.py
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/env_var/test.env
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
Due: poetry-to-requirements-txt, pylint

pipeline fixes and update transformers
  app/initial_data.py
  pyproject.toml
Due: pylint

Feat/mattermost docs (#40)
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/schemas/document.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  app/mattermost/services/mattermost_utils.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

integration fix (#47)
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

Chore/fix pipeline issues (#66)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/chat_search/routers/retrieval.py
Due: pylint

Feat/conversation level topics (#51)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

Chore/update p1 (#54)
  README.md
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

chore/pipeline-fixes (#64)
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/topics/__init__.py
  app/topics/insights/__init__.py
  app/topics/insights/prefix_router.py
  app/topics/insights/routers/__init__.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/__init__.py
  app/topics/insights/services/trending_service.py
  app/topics/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
  tests/topics/insights/services/__init__.py
  tests/topics/insights/services/test_trending_service.py
Due: pylint

autoescape (#68)
  app/chat_search/routers/retrieval.py
Due: pylint

Feat/mm retrieval (#60)
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/template.html
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

marco added to minio (#58)
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/chat_search/ai_services/service.py
  app/initial_data.py
Due: pylint
