Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

chore/import-cleanup (#304)
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/models/document_bertopic_trained_model.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/initial_data.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/gpt4all/ai_services/conftest.py
Due: pylint

Adding Disclaimer and Personal Statements of Tech Transfers from USA to PRC!
  README.md
Due: none

try downgrading python from 3.12 to 3.10 and see if that fixes p1 unit test failures
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/python-downgrade-3.10 (#308)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

updating tf version for CVE
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

massive reorg
  .gitignore
  Dockerfile
  README.md
  app/aimodels/__init__.py
  app/aimodels/lstm_stress_classifier/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/data_open/example_data.csv
  app/aimodels/lstm_stress_classifier/ai_service/inference/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/aimodels/lstm_stress_classifier/prefix_router.py
  app/aimodels/lstm_stress_classifier/routers/__init__.py
  app/aimodels/lstm_stress_classifier/routers/upload.py
  app/aimodels/router.py
  app/api.py
  app/dependencies.py
  app/main.py
  app/sentiments/__init__.py
  app/sentiments/insights/__init__.py
  app/sentiments/insights/prefix_router.py
  app/sentiments/insights/routers/__init__.py
  app/sentiments/insights/routers/get_chat_stress.py
  app/sentiments/router.py
  data_open/vocab.json
  tests/aimodels/lstm_stress_classifier/ai_service/inference/test_inference_lstm_stress_classifier.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_api.py
  tests/test_dependencies.py
  tests/test_files/example_data.csv
Due: pylint

massive reorg
  README.md
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
Due: pylint

added logging
  app/core/logging.py
  app/main.py
Due: pylint

bertopic visualization
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

bertopic works, initial minio settings work, docs save
  .gitignore
  README.md
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
  app/topics/insights/routers/team_trending.py
  scripts/prestart.sh
Due: pylint

updates from meeting
  README.md
  app/core/security.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

mm token setup in env vars
  .gitignore
  app/settings/env_var/local.env
  app/settings/env_var/production.env
  app/settings/env_var/staging.env
  app/settings/settings.py
Due: pylint

Chore/env fixes (#2)
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  requirements.txt
  tests/settings/test_settings.py
Due: pylint

added logging
  app/main.py
Due: pylint

update tests and readme
  README.md
Due: none

mm token setup in env vars
  .gitignore
Due: none

Chore/env fixes
  Dockerfile
  README.md
  app/api.py
  tests/settings/test_settings.py
Due: pylint

Feat/bertopic (#6)
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  app/main.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
  requirements.txt
  scripts/prestart.sh
  tests/settings/test_settings.py
Due: pylint

bertopic visualization
  app/aimodels/bertopic/__init__.py
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/main.py
  app/topics/__init__.py
  app/topics/insights/__init__.py
  app/topics/insights/prefix_router.py
  app/topics/insights/routers/__init__.py
  app/topics/insights/routers/team_trending.py
  app/topics/router.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
Due: pylint

update tests and readme
  README.md
  app/settings/settings.py
  tests/settings/test_settings.py
Due: pylint

add pkl to gitignore
  .gitignore
Due: none

adding in vars for p1 pipeline
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

update reqs
  requirements.txt
Due: none

Emilie reccies
  README.md
  scripts/prestart.sh
Due: none

bertopic tests except train and inference
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
Due: pylint

fix code smells
  app/db/init_db.py
  app/initial_data.py
  app/main.py
  app/sentiments/insights/routers/get_chat_stress.py
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/trending_service.py
Due: pylint

update reqs
  Pipfile.lock
Due: none

fix pipeline
  Pipfile
  Pipfile.lock
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
  tests/crud/test_base.py
  tests/settings/test_settings.py
  tests/test_files/crud/crud_test_api.py
  tests/test_files/crud/crud_test_model.py
  tests/test_files/crud/crud_test_schema.py
  tests/test_files/db/db_test_base.py
Due: pylint

removed testing
  Pipfile.lock
  requirements.txt
Due: none

router tests
  tests/aimodels/bertopic/routers/__init__.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
Due: pylint

basic crud tests implemented
  Pipfile.lock
  requirements.txt
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/test_base.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_files/__init__.py
  tests/test_files/crud/__init__.py
  tests/test_files/crud/crud_test_api.py
  tests/test_files/crud/crud_test_model.py
  tests/test_files/crud/crud_test_schema.py
  tests/test_files/db/__init__.py
  tests/test_files/db/db_test_base.py
  tests/test_files/db/db_test_session.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
Due: pylint

fix reqs to not have past dev deps
  Pipfile
  Pipfile.lock
  requirements.txt
Due: none

tests
  app/crud/base.py
  tests/aimodels/__init__.py
  tests/aimodels/bertopic/__init__.py
  tests/aimodels/bertopic/crud/__init__.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation.py
  tests/aimodels/bertopic/models/__init__.py
  tests/aimodels/bertopic/models/conftest.py
  tests/aimodels/bertopic/models/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/models/test_bertopic_trained.py
  tests/aimodels/bertopic/models/test_document.py
  tests/aimodels/bertopic/models/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

minio
  Pipfile
  Pipfile.lock
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/core/config.py
  app/core/logging.py
  app/core/minio.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  requirements.txt
  sample_data/__init__.py
  sample_data/chat_dataset_1.csv
  sample_data/chat_dataset_2.csv
  sample_data/chat_dataset_3.csv
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

update settings to P1 and setup DB init in P1
  Dockerfile
  README.md
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/initial_data.py
  scripts/init-local.sh
  scripts/init-production.sh
  scripts/init-staging.sh
  scripts/init.sh
Due: pylint

update for p1
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

make test profile primary
  README.md
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

tests for crud
  .gitignore
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/crud/base.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
