Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

Fixing minor code smell -- unused variable
  app/aimodels/bertopic/routers/train.py
Due: pylint

Chore/fix pipeline issues (#66)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/chat_search/routers/retrieval.py
Due: pylint

validator tests
  app/aimodels/bertopic/ai_services/basic_inference.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

validator tests (#67)
  app/aimodels/bertopic/ai_services/basic_inference.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

autoescape
  app/chat_search/routers/retrieval.py
Due: pylint

autoescape (#68)
  app/chat_search/routers/retrieval.py
Due: pylint

some mattermost mocks for staging tests
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

undo pr #66 removal of topic summary update trained model id
  app/aimodels/bertopic/routers/train.py
Due: pylint

Updating MM URL in staging
  app/core/env_var/staging.env
Due: none

disable wipe_db for staging to allow db objects to persist between deployments
  app/initial_data.py
Due: pylint

Update MM url in staging.env
  app/core/env_var/staging.env
Due: none

chore/more-tests-for-staging (#69)
  app/aimodels/bertopic/routers/train.py
  app/core/env_var/staging.env
  app/initial_data.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

fix initial_data typo from pr #69
  app/initial_data.py
Due: pylint

update MM url
  app/core/env_var/development.env
Due: none

update mm url
  app/core/env_var/test.env
Due: none

limit query results
  app/aimodels/bertopic/crud/crud_document.py
Due: pylint

chore/more-tests-for-staging (#69)
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

Chore/index fix (#71)
  app/aimodels/bertopic/crud/crud_document.py
Due: pylint

max docs query param
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
Due: pylint

max docs query param (#73)
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
Due: pylint

temp fix on link for retrieval
  app/chat_search/routers/template.html
Due: none

refactor endpoints for external access
  app/aimodels/bertopic/experimental_features_router.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/lstm_stress_classifier/prefix_router.py
  app/aimodels/router.py
  app/chat_search/routers/retrieval.py
  app/experimental_features_router.py
  app/main.py
  app/mattermost/router.py
  app/sentiments/insights/prefix_router.py
Due: pylint

add endpoint to list trained models, remove visualization strings from topic summary endpoints
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/summarization.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

fix get gpt4all, bertopic pretrained models bug; fix mattermost conversation root ID bug; skip get teams for non-bot users; update tests
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/services/mattermost_utils.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

create bertopic visualization schema and json endpoints. note: db reinit required
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/bertopic_visualization.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/db/base.py
  app/initial_data.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

more bertopic visualization tests
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

add model-level topic timeline visualization endpoints, tests
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  tests/aimodels/bertopic/routers/test_summarization.py
Due: pylint

Feat/bertopic vis rearchitecture (#79)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/experimental_features_router.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/bertopic_visualization.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/lstm_stress_classifier/prefix_router.py
  app/aimodels/router.py
  app/chat_search/routers/retrieval.py
  app/db/base.py
  app/experimental_features_router.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  app/sentiments/insights/prefix_router.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

readme update for p1 test
  README.md
Due: none

readme update for p1 test (#80)
  README.md
Due: none

urllib3 update for CVE-2023-43804; confirmed app startup and pytests passing
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

typing-extensions update for p1 pytest failure
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

update urllib3 for CVE (#81)
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
