Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

numpy update
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update deps
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

train endpoint fix (#39)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/conftest.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/aimodels/lstm_stress_classifier/ai_service/__init__.py
  tests/aimodels/lstm_stress_classifier/ai_service/inference/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/__init__.py
  tests/aimodels/lstm_stress_classifier/routers/conftest.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/__init__.py
  tests/sentiments/__init__.py
  tests/sentiments/insights/__init__.py
  tests/sentiments/insights/routers/__init__.py
  tests/sentiments/insights/routers/conftest.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/topics/__init__.py
  tests/topics/insights/__init__.py
  tests/topics/insights/routers/__init__.py
  tests/topics/insights/services/__init__.py
Due: poetry-to-requirements-txt, pylint

initial standalone mm endpoints (not connected to db or topic model
  app/main.py
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some comments
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some tests
  app/mattermost/router.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

connect mm channel endpoint to db, add columns for mm id, channel id, user id
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/schemas/document.py
  app/mattermost/router.py
Due: pylint

refactor mm document info, create mm user and channel tables
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/schemas/document.py
  app/db/base.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

separate mattermost post/get endpoints for user, documents
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
Due: pylint

mattermost code cleanup and error handling
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

update mattermost router tests
  tests/mattermost/test_mattermost_router.py
Due: pylint

Feat/mattermost docs (#40)
  app/aimodels/bertopic/crud/crud_document.py
  app/aimodels/bertopic/models/document.py
  app/aimodels/bertopic/schemas/document.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  app/mattermost/services/mattermost_utils.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

add root_id to mattermost_document schema
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_documents.py
Due: pylint

mattermost post endpoint validation
  app/mattermost/router.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

add root_id to mattermost_document schema (#41)
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_documents.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

refactor bertopic train endpoints for html visualizations, topic summaries
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/router.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

default bertopic visualization html
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/schemas/topic.py
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

add bertopic train request params to db, more topic summary params
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
Due: pylint

add documents to topic summarization endpoint
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
Due: pylint

endpoint to get model topics
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

sonarlint cleanup
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/topic.py
Due: pylint

Feat/topic summarization (#42)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_topic.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/router.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

WIP
  app/chat_search/__init__.py
  app/chat_search/ai_services/__init__.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/multi_service_wip.py
  app/chat_search/routers/__init__.py
  app/chat_search/routers/retrieval.py
  app/main.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

better error handling for min docs
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

pinning versions based on install errors
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

WIP
  app/chat_search/multi_service_wip.py
  app/chat_search/routers/retrieval.py
Due: pylint

search works on basic data
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/chat_search/routers/template.html
  app/main.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

qa WIP
  .gitignore
  app/aimodels/gpt4all/routers/completions.py
  app/chat_queries/__init__.py
  app/chat_queries/router.py
  app/chat_queries/service.py
  poetry.lock
Due: poetry-to-requirements-txt, pylint

local embedding for Q&A
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/main.py
Due: pylint

fixed unintended min cluster size change
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

update MM settings for IL4
  README.md
  app/core/env_var/local.env
Due: none

Feat/retrieval (#46)
  .gitignore
  app/aimodels/gpt4all/routers/completions.py
  app/chat_search/__init__.py
  app/chat_search/ai_services/__init__.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/__init__.py
  app/chat_search/routers/retrieval.py
  app/chat_search/routers/template.html
  app/main.py
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt, pylint

integration fix
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

integration fix (#47)
  tests/aimodels/bertopic/integration/test_train.py
Due: pylint

functions to get latest pretrained models
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/core/env_var/local.env
Due: pylint

gpt4all router tests
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

bertopic train router tests
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

bertopic summarization router tests
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

mattermost crud tests
  tests/aimodels/bertopic/routers/test_train.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

mattermost utils tests
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
