Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

Get all by message id returns data
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Test get document dataframe
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Create new amttermost document with dataframe
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Remove caplog
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Test crudmattermostdocument (#151)
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Test no channel id, team name, or channel name.
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Test for no channel/user ids or names
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Test crudmattermost channel user (#153)
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Fix unreachable fix_text logic and add associated tests.
  app/aimodels/bertopic/ai_services/topic_summarization.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Fix unreachable fix_text logic and add associated tests. (#154)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
Due: pylint

Fix typos
  tests/mattermost/test_mattermost_router.py
Due: pylint

Test valid channel id upload
  tests/mattermost/test_mattermost_router.py
Due: pylint

Use mocker so document upload can be tested on p1
  tests/mattermost/test_mattermost_router.py
Due: pylint

Test get_mm_channel_docs with valid channel/team and documents
  tests/mattermost/test_mattermost_router.py
Due: pylint

add IL2 instructions for creating and using gpg keys
  README.md
Due: none

chore/fix-gpg-leys (#155)
  README.md
Due: none

Test valid mm documents without conversation threads
  tests/mattermost/test_mattermost_router.py
Due: pylint

Minor edit to readme only
  README.md
Due: none

Minor edit to readme only (#156)
  README.md
Due: none

Revert readme change
  README.md
Due: none

Revert readme change (#157)
  README.md
Due: none

readme tweak
  README.md
Due: none

chore/test-upstream-branch (#158)
  README.md
Due: none

Test creating conversation threads with a non-threaded message
  tests/mattermost/test_mattermost_router.py
Due: pylint

Check that given message id is returned
  tests/mattermost/test_mattermost_router.py
Due: pylint

Test conversation threads with an existing thread
  tests/mattermost/test_mattermost_router.py
Due: pylint

Test mattermost router (#159)
  tests/mattermost/test_mattermost_router.py
Due: pylint

n-gram bug fix for topic summarization
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

chore/ngram-bugfix (#161)
  app/aimodels/bertopic/ai_services/weak_learning.py
Due: pylint

python upgrade to 3.11.9 due to json decode errors on p1
  Dockerfile
  README.md
Due: none

python upgrade to 3.11.9 due to json decode errors on p1 (#162)
  Dockerfile
  README.md
Due: none

Test app shutdown
  tests/test_api.py
Due: pylint

Test db connection with existing uri
  tests/settings/test_settings.py
Due: pylint

Test db update with dict
  tests/crud/test_base.py
  tests/settings/test_settings.py
Due: pylint

Test validation for model id or name
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_visualization.py
  tests/aimodels/bertopic/crud/test_topic.py
Due: pylint

Test BertopicTrainedModelSummary instantiation
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
Due: pylint

mistral integration, reenable topic summarization, ppg-common and db schema updates
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/routers/retrieval.py
  app/db/base.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/gpt4all/llm_pretrained.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: poetry-to-requirements-txt, pylint

Configure coverage report to exclude code used in static type checking
  .coveragerc
Due: none

feat/mistral-integration (#163)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/routers/retrieval.py
  app/db/base.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/gpt4all/llm_pretrained.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: poetry-to-requirements-txt, pylint

Test low hanging (#164)
  .coveragerc
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/crud/test_bertopic_visualization.py
  tests/aimodels/bertopic/crud/test_topic.py
  tests/crud/test_base.py
  tests/settings/test_settings.py
  tests/test_api.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
