Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipfile-to-requirements-txt, pylint

pipfile-to-requirements-txt:
  name: Pipfile to Requirements.txt
  description: Output requirements.txt based on Pipfile.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc

pylint config done with a few fixes
  .pre-commit-config.yaml
  app/api.py
  app/logging_config.py
  pylintrc
Due: pylint

ignore .cache/python-packages for pylint
  pylintrc
Due: none

adjusted pylint config based on comparison with pb solver
  pylintrc
Due: none

added P1 links to the readme
  README.md
Due: none

remove LSTM training code for now; it is still recorded in dev-branch
  app/models/LSTM/__init__.py
  app/models/LSTM/inference.py
  app/models/LSTM/model.py
  app/models/LSTM/modelv2.py
  app/models/LSTM/training.py
Due: pylint

more dev links
  README.md
Due: none

more links
  README.md
Due: none

fixed SQ code smell, added SQ link
  README.md
  app/api.py
Due: pylint

fix more code smells
  app/models/GPT_J_seq2seq/model.py
  app/models/LSTM_basic_classifier/model.py
Due: pylint

add testing and some readme items
  Pipfile
  Pipfile.lock
  README.md
  app/api.py
  requirements.txt
  tests/__init__.py
  tests/test_api.py
Due: pipfile-to-requirements-txt, pylint

format
  README.md
Due: none

Dockerfile changes to ensure tensorflow and test folder are on PYTHONPATH
  Dockerfile
Due: none

try different base image
  Dockerfile
  README.md
Due: none

try different base image
  requirements.txt
Due: none

tensorflow version
  requirements.txt
Due: none

dummy data
  app/models/LSTM_basic_classifier/model.py
  data_open/example_data.csv
Due: pylint

don't load any weights
  app/models/LSTM_basic_classifier/model.py
Due: pylint

tests for LSTM model file
  app/models/LSTM_basic_classifier/model.py
  tests/models/LSTM_basic_classifier/test_model.py
Due: pylint

fixed dockerfile to run uvicorn
  Dockerfile
  README.md
Due: none

update logger for now, will need separate dev and prod configs, but making it work for prod
  app/logging_config.py
Due: pylint

removed logger for now
  app/api.py
Due: pylint

adding logger back in
  app/api.py
Due: pylint

test for invalid entries inside of the array
  app/models/LSTM_basic_classifier/model.py
  tests/models/LSTM_basic_classifier/test_model.py
Due: pylint

full coverage LSTM basic
  tests/models/GPT_J_seq2seq/test_model_gpt-j.py
  tests/models/LSTM_basic_classifier/test_model_lstm_basic.py
Due: pylint

remove logger and gpt j tests, lstm full coverage
  app/api.py
  tests/models/GPT_J_seq2seq/test_model_gpt-j.py
Due: pylint

delete gpt j
  app/models/GPT_J_seq2seq/__init__.py
  app/models/GPT_J_seq2seq/model.py
Due: pylint

new deps for file upload and change hook to add tensorflow
  Pipfile
  Pipfile.lock
  app/api.py
  hooks/output-requirements-txt.sh
  requirements.txt
Due: pipfile-to-requirements-txt, pylint

upload capability for model
  .gitignore
  Pipfile
  Pipfile.lock
  app/api.py
  app/logging_config.py
  app/models/LSTM_basic_classifier/model.py
  data_open/vocab.json
  requirements.txt
  tests/test_api.py
  tests/test_files/test_ckpt_data
  tests/test_files/test_ckpt_index
  tests/test_files/test_ckpt_metadata
Due: pipfile-to-requirements-txt, pylint

change literals for constants
  app/api.py
Due: pylint

test for invalid entries inside of the array
  app/models/LSTM_basic_classifier/model.py
Due: pylint

upload capability for model
  app/api.py
  app/models/LSTM_basic_classifier/model.py
Due: pylint

resolved pylint and solarlint problems in model.py
  app/models/LSTM_basic_classifier/model.py
Due: pylint

upload capability for model
  app/models/LSTM_basic_classifier/model.py
Due: pylint

Path conditions:
  pipfile-to-requirements-txt: any of: ^Pipfile(\.lock)?$
  pylint: any of: \.py$
