Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

WIP
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

fix non-update issues and tf / numpy versioning issues
  app/crud/base.py
  hooks/output-requirements-txt.sh
  requirements.txt
Due: pylint

retrying transformers patch
  requirements.txt
Due: none

update pytest config
  .coveragerc
  README.md
Due: none

update reqs.txt with patch
  requirements.txt
Due: none

intentionally add bad import to test if module throws error
  app/initial_data.py
Due: pylint

fix code smells
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
Due: pylint

refine poetry implementation
  README.md
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

no init
  Dockerfile
Due: none

update tests
  tests/crud/test_base.py
Due: pylint

try different transformers version since commit patch not working in p1
  requirements.txt
Due: none

update hook
  hooks/output-requirements-txt.sh
Due: none

env var bug fix
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: none

README additions
  README.md
Due: none

entrypoint
  Dockerfile
Due: none

try to adjust dockerfile
  Dockerfile
Due: none

try print statements
  app/initial_data.py
Due: pylint

transformers CVE patch
  README.md
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

update tensorflow for CVE
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

update reqs.txt
  requirements.txt
Due: none

Migrate from pipenv to poetry
  .coveragerc
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  docker-compose.yml
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

README update
  README.md
Due: none

poetry readme update and toml bug fix
  README.md
  pyproject.toml
Due: none

temp rollback until patch included in new release
  requirements.txt
Due: none

update requests
  Pipfile.lock
  requirements.txt
Due: none

fix tests for update so that they pull items separately after update vs. accepting the response from update itself
  app/crud/base.py
Due: pylint

add region for minio
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/minio.py
Due: pylint

readme
  README.md
Due: none

bertopic improvements, add seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

Feat/gpt4all2 (#33)
  .gitignore
  app/aimodels/gpt4all/__init__.py
  app/aimodels/gpt4all/ai_services/__init__.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/__init__.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/gpt4all/schemas/__init__.py
  app/aimodels/gpt4all/schemas/gpt4all_pretrained.py
  app/aimodels/router.py
  app/core/minio.py
  app/core/model_cache.py
  app/db/base.py
  app/initial_data.py
  app/main.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/__init__.py
  tests/aimodels/gpt4all/ai_services/__init__.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/__init__.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/__init__.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
  tests/test_files/mocks/__init__.py
  tests/test_files/mocks/mock_completion_inference.py
Due: poetry-to-requirements-txt, pylint

add weak learning; temporarily disable seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

add sentence model name, num topics as inputs
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/initial_data.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

Test5 (#32)
  README.md
Due: none

readme notes for gpg signing
  README.md
Due: none

add some tests for weak learning, coverage now at 81%
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  sample_data/__init__.py
  sample_data/chat_dataset_4.csv
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

make entrypoint script executable
  scripts/entrypoint.sh
Due: none

add entrypoint back in
  Dockerfile
Due: none

explanation on minio vars in P1
  README.md
Due: none

temp SQ workaround
  app/core/config.py
  tests/settings/test_settings.py
Due: pylint

reenable seed topics with fix for numpy inconsistency
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
Due: pylint
