Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

more unit test coverage for sq
  app/nitmre_nlp_utils/preprocess.py
  tests/chat_search/test_retrieval.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

mock imported class and use fastapi exception
  app/chat_search/routers/retrieval.py
  tests/chat_search/test_retrieval.py
Due: pylint

remove new test_retrieval from p1 test set due to s3
  tests/chat_search/test_retrieval.py
Due: pylint

chore/sonarqube-fixes (#310)
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/train.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/s3.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/nitmre_nlp_utils/preprocess.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/chat_search/test_retrieval.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

mdo test: update dockerfile to avoid redunt copying
  Dockerfile
Due: none

more sq comment to correct line in preprocess.py
  app/nitmre_nlp_utils/preprocess.py
Due: pylint

chore/mdo-fix-plus-sq (#311)
  Dockerfile
  app/nitmre_nlp_utils/preprocess.py
Due: pylint

improve code maintainability for p1 sonarqube quality check
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/core/s3.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

unit tests failed on P1, added langsmith.pytest_plugin
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/sq-quality (#312)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/core/s3.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

try upgrading back to python 3.12
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

address some critical, high vulnerabilities in twistlock scan
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/twistlock-failures (#313)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

poetry and pip updates for python 3.12
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update langchain >v1.0
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
Due: poetry-to-requirements-txt, pylint

back to python 3.12
  Dockerfile
  README.md
Due: none

fix p1 pip install
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

poetry update to latest compatible versions
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

chore/python-langchain-upgrade (#314)
  Dockerfile
  README.md
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
Due: poetry-to-requirements-txt, pylint

remove unused nltk due to unresolved cves
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

nltk is causing twistlock to fail, no longer used by c3po
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

remove fastapi-code-generator, datamodel-code-generator, and supporting modules (including genson)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/remove-nltk (#317)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

langchain upgrades
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

a bunch more p1 failures
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

full poetry update
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

python 3.13 upgrade
  Dockerfile
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

fix docs for 3.13
  README.md
Due: none

chore/p1-failures-202604 (#321)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade python-multipart, langchain-core, urllib3, and langsmith
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade snorkel to latest version
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade packages (#326)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

formatting for some lines in readme
  README.md
Due: none

upgrade langchain
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade idna for anchore failures
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Chore/p1 failures 20260521 (#327)
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt
