Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipfile-to-requirements-txt, pylint

pipfile-to-requirements-txt:
  name: Pipfile to Requirements.txt
  description: Output requirements.txt based on Pipfile.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc

mm token setup in env vars
  .gitignore
Due: none

update tests and readme
  README.md
Due: none

bertopic visualization
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

bertopic works, initial minio settings work, docs save
  .gitignore
  README.md
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/aimodels/router.py
  app/core/security.py
  app/dependencies.py
  app/main.py
  app/topics/insights/routers/team_trending.py
  scripts/prestart.sh
Due: pylint

removed testing
  Pipfile.lock
  requirements.txt
Due: pipfile-to-requirements-txt

updates from meeting
  README.md
  app/core/security.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

tests
  app/crud/base.py
  tests/aimodels/__init__.py
  tests/aimodels/bertopic/__init__.py
  tests/aimodels/bertopic/crud/__init__.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation.py
  tests/aimodels/bertopic/models/__init__.py
  tests/aimodels/bertopic/models/conftest.py
  tests/aimodels/bertopic/models/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/models/test_bertopic_trained.py
  tests/aimodels/bertopic/models/test_document.py
  tests/aimodels/bertopic/models/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

tests for crud
  .gitignore
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/crud/base.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

Emilie reccies
  README.md
  scripts/prestart.sh
Due: none

basic crud tests implemented
  Pipfile.lock
  requirements.txt
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/test_base.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_files/__init__.py
  tests/test_files/crud/__init__.py
  tests/test_files/crud/crud_test_api.py
  tests/test_files/crud/crud_test_model.py
  tests/test_files/crud/crud_test_schema.py
  tests/test_files/db/__init__.py
  tests/test_files/db/db_test_base.py
  tests/test_files/db/db_test_session.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
Due: pipfile-to-requirements-txt, pylint

added logging
  app/main.py
Due: pylint

bertopic tests except train and inference
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
Due: pylint

add pkl to gitignore
  .gitignore
Due: none

router tests
  tests/aimodels/bertopic/routers/__init__.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
Due: pylint

Chore/env fixes (#2)
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  requirements.txt
  tests/settings/test_settings.py
Due: pipfile-to-requirements-txt, pylint

bertopic works, initial minio settings work, docs save
  .gitignore
  README.md
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
  app/topics/insights/routers/team_trending.py
  scripts/prestart.sh
Due: pylint

Feat/bertopic (#6)
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  app/main.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
  requirements.txt
  scripts/prestart.sh
  tests/settings/test_settings.py
Due: pipfile-to-requirements-txt, pylint

massive reorg
  README.md
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
Due: pylint

adding in vars for p1 pipeline
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

minio
  Pipfile
  Pipfile.lock
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/core/config.py
  app/core/logging.py
  app/core/minio.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  requirements.txt
  sample_data/__init__.py
  sample_data/chat_dataset_1.csv
  sample_data/chat_dataset_2.csv
  sample_data/chat_dataset_3.csv
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pipfile-to-requirements-txt, pylint

WIP
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

update for p1
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

fix code smells
  app/db/init_db.py
  app/initial_data.py
  app/main.py
  app/sentiments/insights/routers/get_chat_stress.py
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/trending_service.py
Due: pylint

fix reqs to not have past dev deps
  Pipfile
  Pipfile.lock
  requirements.txt
Due: pipfile-to-requirements-txt

update reqs
  requirements.txt
Due: none

update reqs
  Pipfile.lock
Due: pipfile-to-requirements-txt

Path conditions:
  pipfile-to-requirements-txt: any of: ^Pipfile(\.lock)?$
  pylint: any of: \.py$
