Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

updating torch again for p1 pipeline pycov workaround test
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

forgot setuptools
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/reupdate-torch (#343)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

testing upgrade to torch 2.14.0, poetry 2.4.2, pycov 7.1.0, pytest 9.1.1
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

well, that didn't work. rolling back to torch 2.11.0
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

address new sq findings high/med/low
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/lstm_stress_classifier/routers/upload.py
  app/chat_search/routers/retrieval.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/document.py
  app/sentiments/insights/routers/get_chat_stress.py
Due: pylint

more SQ, and poetry update
  app/aimodels/gpt4all/routers/completions.py
  app/chat_search/routers/retrieval.py
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt, pylint

chore/torch-2.14-testing (#344)
  .github/workflows/ci.yml
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/aimodels/lstm_stress_classifier/routers/upload.py
  app/chat_search/routers/retrieval.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/document.py
  app/sentiments/insights/routers/get_chat_stress.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

fix critical mypy issues
  app/core/s3.py
  app/db/session.py
  app/initial_data.py
  app/mattermost/router.py
  tests/core/test_s3.py
  tests/db/test_session.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

more sq fixes for m/l severity issues
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

chore/sq-fixes-20260908 (#346)
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/mattermost/router.py
  app/ppg_common/services/mattermost_utils.py
Due: pylint

use UUID instead of model enum for S3 lookup
  app/core/config.py
  app/core/env_var/staging.env
  app/initial_data.py
Due: pylint

lookup pretrained llm by id
  app/aimodels/gpt4all/routers/pretrained.py
Due: pylint

delete s3 object method
  app/core/s3.py
  tests/core/test_s3.py
Due: pylint

delete s3 object
  app/aimodels/gpt4all/routers/pretrained.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

test valid get llm by id
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: pylint

prod env vars also need llm model ids
  app/core/config.py
  app/core/env_var/production.env
  app/initial_data.py
Due: pylint

update cve whitelist
  .github/workflows/cve-allowlist.txt
Due: none

remove duplicate entries in cve-allowlist.txt
  .github/workflows/cve-allowlist.txt
Due: none

minor test edits
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/core/test_s3.py
Due: pylint

Bug/staging init errors (#347)
  .github/workflows/cve-allowlist.txt
  app/aimodels/gpt4all/routers/pretrained.py
  app/core/config.py
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/s3.py
  app/initial_data.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/core/test_s3.py
Due: pylint
