Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

update tests
  tests/crud/test_base.py
Due: pylint

fix tests for update so that they pull items separately after update vs. accepting the response from update itself
  app/crud/base.py
Due: pylint

README update
  README.md
Due: none

add weak learning; temporarily disable seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  requirements.txt
Due: pylint

bertopic improvements, add seed words
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

add sentence model name, num topics as inputs
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/models/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  app/initial_data.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
Due: pylint

reenable seed topics with fix for numpy inconsistency
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
Due: pylint

Migrate from pipenv to poetry
  .coveragerc
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  docker-compose.yml
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

README additions
  README.md
Due: none

refine poetry implementation
  README.md
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

poetry readme update and toml bug fix
  README.md
  pyproject.toml
Due: none

update poetryv2 to rebase from most recent master
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

env var bug fix
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: none

try to adjust dockerfile
  Dockerfile
Due: none

try print statements
  app/initial_data.py
Due: pylint

intentionally add bad import to test if module throws error
  app/initial_data.py
Due: pylint

entrypoint
  Dockerfile
Due: none

no init
  Dockerfile
Due: none

remove intentional bad import test
  app/initial_data.py
Due: pylint

add entrypoint back in
  Dockerfile
Due: none

add exit status to init
  scripts/init.sh
Due: none

separated entrypoint script and reformatted to use entrypoint correctly
  Dockerfile
  scripts/entrypoint.sh
  scripts/init.sh
Due: none

remove sys.err test calls
  app/initial_data.py
Due: pylint

make entrypoint script executable
  scripts/entrypoint.sh
Due: none

validator for minio_endpoint_url
  app/core/config.py
  tests/settings/test_settings.py
Due: pylint

temp SQ workaround
  app/core/config.py
  tests/settings/test_settings.py
Due: pylint

log minio env vars
  app/initial_data.py
Due: pylint

revert temp workarounds
  app/core/config.py
  app/initial_data.py
  tests/settings/test_settings.py
Due: pylint

update for minio usage inside the platform (not actually insecure, just used port 80 with mTLS instead of 443
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: none

explanation on minio vars in P1
  README.md
Due: none
