Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipfile-to-requirements-txt, pylint

pipfile-to-requirements-txt:
  name: Pipfile to Requirements.txt
  description: Output requirements.txt based on Pipfile.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc

rectifying multiple branches
  app/api.py
Due: pylint

add in old file, move changes manually
  app/models/LSTM_basic_classifier/model.py
Due: pylint

upload capability for model
  app/models/LSTM_basic_classifier/model.py
Due: pylint

rectifying multiple branches
  app/models/LSTM_basic_classifier/model.py
Due: pylint

added clamd
  Pipfile
  Pipfile.lock
  README.md
  app/api.py
  requirements.txt
Due: pipfile-to-requirements-txt, pylint

merged emilie's work, added env vars, adjusted api versioning prefix, adjusted swagger docs base routing
  Dockerfile
  app/api.py
  app/models/LSTM_basic_classifier/model.py
  app/settings/__init__.py
  app/settings/env_var/local.env
  app/settings/env_var/production.env
  app/settings/env_var/staging.env
  app/settings/settings.py
  tests/settings/__init__.py
  tests/settings/test_settings.py
Due: pylint

test for invalid entries inside of the array
  app/models/LSTM_basic_classifier/model.py
Due: pylint

fixing SQ code smell
  app/models/LSTM_basic_classifier/model.py
Due: pylint

Chore/env fixes
  Dockerfile
  Pipfile
  Pipfile.lock
  app/api.py
  app/settings/env_var/local.env
  app/settings/env_var/production.env
  app/settings/env_var/staging.env
  app/settings/settings.py
  requirements.txt
Due: pipfile-to-requirements-txt, pylint

Chore/env fixes
  Dockerfile
  README.md
  app/api.py
  tests/settings/test_settings.py
Due: pylint

add logging
  app/logging_config.py
Due: pylint

fixed env var loading, versioning, proxy prefix
  app/api.py
  app/settings/logging_config.py
Due: pylint

remove logging for now
  app/api.py
  app/settings/logging_config.py
Due: pylint

fixed tests and import
  app/api.py
Due: pylint

Chore/env fixes (#2)
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  app/api.py
  app/settings/env_var/local.env
  app/settings/env_var/production.env
  app/settings/env_var/staging.env
  app/settings/settings.py
  requirements.txt
  tests/settings/test_settings.py
Due: pipfile-to-requirements-txt, pylint

updating tf version for CVE
  hooks/output-requirements-txt.sh
  requirements.txt
Due: none

updating tf version for CVE
  hooks/output-requirements-txt.sh
Due: none

massive reorg
  .gitignore
  Dockerfile
  README.md
  app/aimodels/__init__.py
  app/aimodels/lstm_stress_classifier/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/data_open/example_data.csv
  app/aimodels/lstm_stress_classifier/ai_service/inference/__init__.py
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/aimodels/lstm_stress_classifier/prefix_router.py
  app/aimodels/lstm_stress_classifier/routers/__init__.py
  app/aimodels/lstm_stress_classifier/routers/upload.py
  app/aimodels/router.py
  app/api.py
  app/dependencies.py
  app/main.py
  app/sentiments/__init__.py
  app/sentiments/insights/__init__.py
  app/sentiments/insights/prefix_router.py
  app/sentiments/insights/routers/__init__.py
  app/sentiments/insights/routers/get_chat_stress.py
  app/sentiments/router.py
  data_open/vocab.json
  tests/aimodels/lstm_stress_classifier/ai_service/inference/test_inference_lstm_stress_classifier.py
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_api.py
  tests/test_dependencies.py
  tests/test_files/example_data.csv
Due: pylint

Updating TF version for CVE
  requirements.txt
Due: none

mm token setup in env vars
  .gitignore
  app/settings/env_var/local.env
  app/settings/env_var/production.env
  app/settings/env_var/staging.env
  app/settings/settings.py
Due: pylint

update tests and readme
  README.md
  app/settings/settings.py
  tests/settings/test_settings.py
Due: pylint

bertopic visualization
  app/aimodels/bertopic/__init__.py
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/main.py
  app/topics/__init__.py
  app/topics/insights/__init__.py
  app/topics/insights/prefix_router.py
  app/topics/insights/routers/__init__.py
  app/topics/insights/routers/team_trending.py
  app/topics/router.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
Due: pylint

added logging
  app/core/logging.py
  app/main.py
Due: pylint

Chore/env fixes
  app/api.py
Due: pylint

updates from meeting
  README.md
  app/core/security.py
  app/main.py
  app/topics/insights/routers/data_open.json
  app/topics/insights/routers/team_trending.py
Due: pylint

Emilie reccies
  README.md
  scripts/prestart.sh
Due: none

massive reorg
  README.md
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
Due: pylint

Path conditions:
  pipfile-to-requirements-txt: any of: ^Pipfile(\.lock)?$
  pylint: any of: \.py$
