Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

function to list minio objects, run at ppg startup
  app/core/minio.py
Due: pylint

chore/list-minio (#234)
  app/core/minio.py
Due: pylint

Move list minio function to initial data to address P1 unittest failures.
  app/core/minio.py
  app/initial_data.py
Due: pylint

Move list minio function to initial data to address P1 unittest failure. (#235)
  app/core/minio.py
  app/initial_data.py
Due: pylint

move emoji removal from vectorizer to topic document preprocessing
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

feat/emoji-fix (#237)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
Due: pylint

only thread user chats; pass other types through as-is
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

add info type for acars free text
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
Due: poetry-to-requirements-txt, pylint

add user/persona context to summarization text
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: poetry-to-requirements-txt, pylint

feat/thread-chats-only (#241)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/schemas/mattermost/mattermost_documents.py
  ppg-common/setup.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: poetry-to-requirements-txt, pylint

allow 100% data_train to support shorter post history depth
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

fix indexing error
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

feat/data-test-optional (#248)
  app/aimodels/bertopic/ai_services/basic_inference.py
Due: pylint

download to python 3.10.15
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

compare/chore/python-3.10.15 (#250)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

parse additional notam fields
  app/mattermost/crud/crud_mattermost.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

update sentence-transformers to 2.3.0; move list_minio_objects to app startup
  app/core/minio.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

minio.py newline test
  app/core/minio.py
Due: pylint

create c3po-test.yml
  .github/workflows/c3po-test.yml
Due: none

attempt to fix minio/notebook issue
  app/core/minio.py
  app/main.py
Due: pylint

feat/expand-notam-parser (#254)
  app/core/minio.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
Due: poetry-to-requirements-txt, pylint

clean up logging
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/db/init_db.py
  app/ppg_common/services/mattermost_utils.py
  ppg-common/setup.py
Due: pylint

chore/log-cleanup (#264)
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/db/init_db.py
  app/ppg_common/services/mattermost_utils.py
  ppg-common/setup.py
Due: pylint

attempt to fix test_shutdown failure on p1
  tests/test_api.py
Due: pylint

chore/ut-fix-attempt (#265)
  tests/test_api.py
Due: pylint

address some p1 vulnerability failures: aiohttp, python-multipart, werkzeug
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/some-p1-cves (#266)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

pydantic v2 upgrade almost finished, tensorflow not working on macos
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/test.env
  app/core/logging.py
  app/db/session.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_trained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/document.py
  app/ppg_common/schemas/bertopic/document_embedding_computation.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
  app/ppg_common/schemas/mattermost/mattermost_channels.py
  app/ppg_common/schemas/mattermost/mattermost_documents.py
  app/ppg_common/schemas/mattermost/mattermost_users.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_router.py
  tests/settings/test_settings.py
  tests/test_files/db/db_test_session.py
Due: poetry-to-requirements-txt, pylint

more pydantic v2, tensorflow still not working on macos (workaround: pip install after poetry)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

fix test_mattermost_bot (mm api issue)
  tests/mattermost/test_mattermost_utils.py
Due: pylint

suppress pydantic v2 model_ namespace warnings
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
Due: pylint

resolve LangChainDeprecationWarning(s) in chat-search
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
Due: pylint

chore/mm-request-fixes (#270)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/test.env
  app/core/logging.py
  app/db/session.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_trained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/document.py
  app/ppg_common/schemas/bertopic/document_embedding_computation.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
  app/ppg_common/schemas/mattermost/mattermost_channels.py
  app/ppg_common/schemas/mattermost/mattermost_documents.py
  app/ppg_common/schemas/mattermost/mattermost_users.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_files/db/db_test_session.py
Due: poetry-to-requirements-txt, pylint

more warning cleanup for pydantic and pandas
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/core/config.py
  app/crud/base.py
  app/db/base_class.py
  tests/test_files/crud/crud_test_schema.py
Due: pylint

chore/more-fastapi-for-p1 (#273)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/core/config.py
  app/crud/base.py
  app/db/base_class.py
  tests/test_files/crud/crud_test_schema.py
Due: pylint

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
