Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

poetry-to-requirements-txt:
  name: Poetry to Requirements.txt
  description: Output requirements.txt based on poetry.lock
  entry: ./hooks/output-requirements-txt.sh
  language: script

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --reports=y
  - --recursive=y
  - --persistent=n
  - --output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized
  - --rcfile=pylintrc
  - --verbose

update aiohttp for CVE (#57)
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

validator tests (#67)
  app/aimodels/bertopic/ai_services/basic_inference.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

update mm url
  app/core/env_var/test.env
Due: none

max docs query param (#73)
  app/aimodels/bertopic/crud/crud_document.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
Due: pylint

add a train endpoint valid request unit test (#65)
  app/crud/base.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

Revert "Feat/conversation level topics" (#61)
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

fix certifi CVE (#56)
  poetry.lock
  requirements.txt
Due: poetry-to-requirements-txt

Chore/index fix (#71)
  app/aimodels/bertopic/crud/crud_document.py
Due: pylint

disable wipe_db for staging to allow db objects to persist between deployments
  app/initial_data.py
Due: pylint

chore/more-tests-for-staging (#69)
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

undo pr #66 removal of topic summary update trained model id
  app/aimodels/bertopic/routers/train.py
Due: pylint

fix lc CVE (#62)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

change all-mini retrieval to get_by_model_name (#55)
  app/chat_search/ai_services/service.py
Due: pylint

update MM url
  app/core/env_var/development.env
Due: none

Updating MM URL in staging
  app/core/env_var/staging.env
Due: none

Feat/conversation level topics (#63)
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

resolve duplicate mm channel error, sync requirements.txt (#84)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  requirements.txt
Due: pylint

Chore/python-upgrade-3-11-8 (#137)
  Dockerfile
  README.md
Due: none

urllib3 update, modify ngrams, handle mm pagination (#85)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/mattermost/services/mattermost_utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt, pylint

update langchain and werkzeug (#82)
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

langchain update for CVE-2023-39659, CVE-2023-32786 (#88)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

gpt4all router test fix for p1 (#83)
  poetry.lock
  pyproject.toml
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: poetry-to-requirements-txt, pylint

update pillow for CVE-2023-5129 (#87)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update urllib3 for CVE (#81)
  poetry.lock
  pyproject.toml
Due: poetry-to-requirements-txt

Chore/ppg-common-lib-0.4.0 (#130)
  poetry.lock
  ppg-common/ppg/schemas/bertopic/__init__.py
  ppg-common/ppg/schemas/gpt4all/__init__.py
  ppg-common/ppg/schemas/mattermost/__init__.py
  ppg-common/setup.py
  tests/conftest.py
Due: poetry-to-requirements-txt, pylint

Chore/docker sonarq fixes (#86)
  Dockerfile
  app/mattermost/services/mattermost_utils.py
Due: pylint

aiohttp update for CVE-2023-47627 (#89)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/test-fix-for-ppg-common (#129)
  tests/conftest.py
Due: pylint

Feat/nitmre-bot-post-filter (#90)
  README.md
  app/initial_data.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
Due: pylint

Chore/ppg-common-lib-0.3.0 (#127)
  ppg-common/ppg/core/__init__.py
  ppg-common/ppg/schemas/__init__.py
  ppg-common/ppg/services/__init__.py
  ppg-common/setup.py
Due: pylint

Feat/add-mm-metadata (#99)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/models/mattermost_channels.py
  app/mattermost/models/mattermost_documents.py
  app/mattermost/models/mattermost_users.py
  app/mattermost/router.py
  app/mattermost/schemas/mattermost_channels.py
  app/mattermost/schemas/mattermost_documents.py
  app/mattermost/schemas/mattermost_users.py
  ppg-common/ppg/mattermost_utils.py
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
Due: pylint

Feat/bertopic vis rearchitecture (#79)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/crud/__init__.py
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/crud/crud_bertopic_visualization.py
  app/aimodels/bertopic/experimental_features_router.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/models/bertopic_visualization.py
  app/aimodels/bertopic/models/topic.py
  app/aimodels/bertopic/prefix_router.py
  app/aimodels/bertopic/routers/summarization.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/bertopic/schemas/bertopic_trained.py
  app/aimodels/bertopic/schemas/bertopic_visualization.py
  app/aimodels/bertopic/schemas/topic.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/lstm_stress_classifier/prefix_router.py
  app/aimodels/router.py
  app/chat_search/routers/retrieval.py
  app/db/base.py
  app/experimental_features_router.py
  app/initial_data.py
  app/main.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  app/mattermost/services/mattermost_utils.py
  app/sentiments/insights/prefix_router.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
  tests/mattermost/test_mattermost_utils.py
Due: pylint

readme update for p1 test (#80)
  README.md
Due: none

temp fix on link for retrieval
  app/chat_search/routers/template.html
Due: none

chore/python-upgrade (#96)
  Dockerfile
  README.md
Due: none

Chore/ppg-common-lib (#97)
  app/initial_data.py
  app/mattermost/crud/crud_mattermost.py
  app/mattermost/router.py
  poetry.lock
  ppg-common/ppg/mattermost_utils.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/mattermost/test_mattermost_crud.py
  tests/mattermost/test_mattermost_utils.py
Due: poetry-to-requirements-txt, pylint

Test crudmattermost channel user (#153)
  tests/mattermost/test_mattermost_crud.py
Due: pylint

feat/mistral-integration (#163)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/models/bertopic_trained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/experimental_features_router.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/crud/__init__.py
  app/aimodels/gpt4all/crud/crud_gpt4all_pretrained.py
  app/aimodels/gpt4all/crud/crud_llm_pretrained.py
  app/aimodels/gpt4all/models/__init__.py
  app/aimodels/gpt4all/models/llm_pretrained.py
  app/aimodels/gpt4all/prefix_router.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/routers/retrieval.py
  app/db/base.py
  app/initial_data.py
  poetry.lock
  ppg-common/ppg/schemas/bertopic/bertopic_trained.py
  ppg-common/ppg/schemas/gpt4all/llm_pretrained.py
  ppg-common/setup.py
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/conftest.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/crud/test_gpt4all_pretrained.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
Due: poetry-to-requirements-txt, pylint

Chore/transformers-upgrade-4-38-1 (#138)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

Path conditions:
  poetry-to-requirements-txt: any of: ^poetry(\.lock)?$
  pylint: any of: \.py$
