Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipfile-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: pipfile-to-requirements-txt
      name: Pipfile to Requirements.txt
      description: Output requirements.txt based on Pipfile.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^Pipfile(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the scorexs
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
        ]

make test profile primary
  README.md
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

update settings to P1 and setup DB init in P1
  Dockerfile
  README.md
  app/core/config.py
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/initial_data.py
  scripts/init-local.sh
  scripts/init-production.sh
  scripts/init-staging.sh
  scripts/init.sh
Due: pylint

initial standalone mm endpoints (not connected to db or topic model
  app/main.py
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some comments
  app/mattermost/mm_utils.py
  app/mattermost/router.py
Due: pylint

some tests
  app/mattermost/router.py
  tests/mattermost/test_mattermost_router.py
Due: pylint

readme for minio
  README.md
Due: none

bertopic visualization
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

router tests
  tests/aimodels/bertopic/routers/__init__.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_documents.py
Due: pylint

basic crud tests implemented
  Pipfile.lock
  requirements.txt
  tests/aimodels/lstm_stress_classifier/routers/test_upload_router_lstm_stress_classifier.py
  tests/conftest.py
  tests/crud/test_base.py
  tests/sentiments/insights/routers/test_sentiments_insights_get_chat_stress_router.py
  tests/test_files/__init__.py
  tests/test_files/crud/__init__.py
  tests/test_files/crud/crud_test_api.py
  tests/test_files/crud/crud_test_model.py
  tests/test_files/crud/crud_test_schema.py
  tests/test_files/db/__init__.py
  tests/test_files/db/db_test_base.py
  tests/test_files/db/db_test_session.py
  tests/topics/insights/routers/test_topics_insights_team_trending_router.py
Due: pipfile-to-requirements-txt, pylint

mm token setup in env vars
  .gitignore
Due: none

added logging
  app/main.py
Due: pylint

update tests and readme
  README.md
Due: none

removed testing
  Pipfile.lock
  requirements.txt
Due: pipfile-to-requirements-txt

bertopic tests except train and inference
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/schemas/bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
Due: pylint

Emilie reccies
  README.md
  scripts/prestart.sh
Due: none

tests for crud
  .gitignore
  README.md
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/crud/base.py
  tests/aimodels/bertopic/crud/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/crud/test_bertopic_trained.py
  tests/aimodels/bertopic/crud/test_document.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

updates from meeting
  README.md
  app/core/security.py
  app/main.py
  app/topics/insights/routers/team_trending.py
Due: pylint

bertopic works, initial minio settings work, docs save
  .gitignore
  README.md
  app/aimodels/bertopic/ai_service/__init__.py
  app/aimodels/bertopic/ai_service/inference/__init__.py
  app/aimodels/bertopic/ai_service/inference/inference_model.py
  app/aimodels/router.py
  app/core/security.py
  app/dependencies.py
  app/main.py
  app/topics/insights/routers/team_trending.py
  scripts/prestart.sh
Due: pylint

tests
  app/crud/base.py
  tests/aimodels/__init__.py
  tests/aimodels/bertopic/__init__.py
  tests/aimodels/bertopic/crud/__init__.py
  tests/aimodels/bertopic/crud/test_document_embedding_computation.py
  tests/aimodels/bertopic/models/__init__.py
  tests/aimodels/bertopic/models/conftest.py
  tests/aimodels/bertopic/models/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/models/test_bertopic_trained.py
  tests/aimodels/bertopic/models/test_document.py
  tests/aimodels/bertopic/models/test_document_embedding_computation copy.py
  tests/crud/test_base.py
Due: pylint

add pkl to gitignore
  .gitignore
Due: none

massive reorg
  README.md
  app/aimodels/router.py
  app/dependencies.py
  app/main.py
Due: pylint

WIP
  tests/aimodels/bertopic/routers/test_train.py
Due: pylint

minio
  Pipfile
  Pipfile.lock
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/documents.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/lstm_stress_classifier/ai_service/inference/inference_model.py
  app/core/config.py
  app/core/logging.py
  app/core/minio.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  requirements.txt
  sample_data/__init__.py
  sample_data/chat_dataset_1.csv
  sample_data/chat_dataset_2.csv
  sample_data/chat_dataset_3.csv
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
Due: pipfile-to-requirements-txt, pylint

fix pipeline
  Pipfile
  Pipfile.lock
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/conftest.py
  tests/crud/test_base.py
  tests/settings/test_settings.py
  tests/test_files/crud/crud_test_api.py
  tests/test_files/crud/crud_test_model.py
  tests/test_files/crud/crud_test_schema.py
  tests/test_files/db/db_test_base.py
Due: pipfile-to-requirements-txt, pylint

update pytest config
  .coveragerc
  README.md
Due: none

fix code smells
  app/aimodels/bertopic/crud/crud_bertopic_embedding_pretrained.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
Due: pylint

update reqs
  requirements.txt
Due: none

update for p1
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

update reqs
  Pipfile.lock
Due: pipfile-to-requirements-txt

adding in vars for p1 pipeline
  app/core/config.py
  app/core/env_var/test.env
Due: pylint

fix reqs to not have past dev deps
  Pipfile
  Pipfile.lock
  requirements.txt
Due: pipfile-to-requirements-txt

fix code smells
  app/db/init_db.py
  app/initial_data.py
  app/main.py
  app/sentiments/insights/routers/get_chat_stress.py
  app/topics/insights/routers/team_trending.py
  app/topics/insights/services/trending_service.py
Due: pylint
