Repository MIT-AI-Accelerator/c3po-model-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-to-requirements-txt, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: poetry-to-requirements-txt
      name: Poetry to Requirements.txt
      description: Output requirements.txt based on poetry.lock
      entry: ./hooks/output-requirements-txt.sh
      language: script
      files: ^poetry(\.lock)?$
      types: [file]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--reports=y", # summary report
          "--recursive=y", # search recursively through folders
          "--persistent=n", # don't pickle data for later comparisons.
          "--output-format=json:.pylint/lint-log.json,colorized:.pylint/lint-colorized", # where to store the lint info
          "--rcfile=pylintrc", # Link to your config file
          "--verbose",
        ]

chore/mm-request-fixes (#270)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/ai_services/weak_learning.py
  app/aimodels/bertopic/crud/crud_bertopic_trained.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/chat_search/ai_services/initialized_huggingface_embeddings.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/test.env
  app/core/logging.py
  app/db/session.py
  app/mattermost/router.py
  app/ppg_common/schemas/bertopic/bertopic_embedding_pretrained.py
  app/ppg_common/schemas/bertopic/bertopic_trained.py
  app/ppg_common/schemas/bertopic/bertopic_visualization.py
  app/ppg_common/schemas/bertopic/document.py
  app/ppg_common/schemas/bertopic/document_embedding_computation.py
  app/ppg_common/schemas/bertopic/topic.py
  app/ppg_common/schemas/gpt4all/llm_pretrained.py
  app/ppg_common/schemas/mattermost/mattermost_channels.py
  app/ppg_common/schemas/mattermost/mattermost_documents.py
  app/ppg_common/schemas/mattermost/mattermost_users.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_summarization.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/mattermost/test_mattermost_router.py
  tests/mattermost/test_mattermost_utils.py
  tests/settings/test_settings.py
  tests/test_files/db/db_test_session.py
Due: poetry-to-requirements-txt, pylint

chore/more-fastapi-for-p1 (#273)
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/core/config.py
  app/crud/base.py
  app/db/base_class.py
  tests/test_files/crud/crud_test_schema.py
Due: pylint

clean up p1 failures in unit test, trufflehog, and twistlock
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

chore/p1-ut-fix (#275)
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

attempt to fix p1 failure to connect to db in pytest
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/p1-fix-ut-db (#277)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

another attempt to fix p1 failure to connect to db in pytest
  app/core/env_var/test.env
  tests/settings/test_settings.py
Due: pylint

chore/p1-fix-ut-db-again (#278)
  app/core/env_var/test.env
  tests/settings/test_settings.py
Due: pylint

upgrade urllib3, roll back to python 3.10 iron bank image
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

compare/chore/fix-urllib3-cve (#280)
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

upgrade keras
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

update poetry version in readme
  README.md
Due: none

chore/fix-keras-cve (#281)
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

configure staging and production to use IRSA for S3 connection
  README.md
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: none

remove unused env vars
  app/core/config.py
  app/core/env_var/production.env
  app/core/env_var/staging.env
Due: pylint

start converting connection to minio using boto3
  app/core/config.py
  app/core/env_var/local.env
  app/core/minio.py
  app/initial_data.py
  pyproject.toml
Due: pylint

connect to s3 using boto3
  app/core/minio.py
Due: pylint

change minio module to s3
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  tests/conftest.py
Due: pylint

change names from minio to s3
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/s3.py
  app/initial_data.py
  app/main.py
  tests/settings/test_settings.py
Due: pylint

change more names from minio to s3
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/routers/retrieval.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/gpt4all/routers/conftest.py
Due: pylint

change more names from minio to s3
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/settings/test_settings.py
Due: pylint

use boto3 stubs for S3Client typing
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  pyproject.toml
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/conftest.py
Due: pylint

remove unused or irrelevant tests
  app/aimodels/bertopic/ai_services/basic_inference.py
  tests/aimodels/bertopic/integration/test_train.py
  tests/settings/test_settings.py
Due: pylint

address fastapi lifespan deprecation warning
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/core/s3.py
  app/main.py
Due: pylint

remove obsolete versioning
  docker-compose.yml
  poetry.lock
Due: poetry-to-requirements-txt

update README to always install latest patch version of python
  README.md
Due: none

add directions to view logs of deployed app
  README.md
Due: none

update requirements for P1
  README.md
  requirements.txt
Due: none

add lifespan to versioned_app to resolve startup logging issue
  app/main.py
Due: pylint

resolve pydantic validation error, and some cleanup
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  tests/aimodels/bertopic/services/test_basic_inference.py
Due: pylint

configure staging and production to use IRSA for S3 connection (#286)
  README.md
  app/aimodels/bertopic/ai_services/basic_inference.py
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/bertopic_embedding_pretrained.py
  app/aimodels/bertopic/routers/train.py
  app/aimodels/gpt4all/ai_services/completion_inference.py
  app/aimodels/gpt4all/routers/completions.py
  app/aimodels/gpt4all/routers/pretrained.py
  app/chat_search/ai_services/marco_rerank_retriever.py
  app/chat_search/ai_services/service.py
  app/chat_search/routers/retrieval.py
  app/core/config.py
  app/core/env_var/development.env
  app/core/env_var/local.env
  app/core/env_var/production.env
  app/core/env_var/staging.env
  app/core/minio.py
  app/core/s3.py
  app/dependencies.py
  app/initial_data.py
  app/main.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/aimodels/bertopic/integration/test_train.py
  tests/aimodels/bertopic/routers/conftest.py
  tests/aimodels/bertopic/routers/test_bertopic_embedding_pretrained.py
  tests/aimodels/bertopic/routers/test_train.py
  tests/aimodels/bertopic/services/test_basic_inference.py
  tests/aimodels/bertopic/services/test_topic_summarization.py
  tests/aimodels/gpt4all/ai_services/test_completion_inference.py
  tests/aimodels/gpt4all/routers/conftest.py
  tests/aimodels/gpt4all/routers/test_completions.py
  tests/aimodels/gpt4all/routers/test_pretrained.py
  tests/conftest.py
  tests/settings/test_settings.py
Due: poetry-to-requirements-txt, pylint

first round of module upgrades; there will likely be more
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/so-many-failures (#287)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

second round of module upgrades for p1
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

fix UT failure
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

chore/so-many-failures2 (#288)
  hooks/output-requirements-txt.sh
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-to-requirements-txt

add nitmre-nlp-utils preprocess.py to app code; integrate convert_conversation_threads
  app/mattermost/crud/crud_mattermost.py
  app/nitmre_nlp_utils/preprocess.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

feat/nitmre-nlp-utils (#289)
  app/mattermost/crud/crud_mattermost.py
  app/nitmre_nlp_utils/preprocess.py
  tests/mattermost/test_mattermost_crud.py
Due: pylint

use acronym expansion from nlp-utils, add icao dictionary
  app/aimodels/bertopic/ai_services/topic_summarization.py
  app/aimodels/bertopic/routers/train.py
  app/core/config.py
  app/main.py
  tests/test_api.py
Due: pylint
